html,
body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    margin: 0;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#lenovo-v15 a:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: 0.3s;
}
img {
    max-width: 100%;
}
section {
    scroll-behavior: smooth;
}
#lenovo-v15 a {
    transition-duration: 0.3s;
}
b {
    font-family: "Gotham Bold";
}
@font-face {
    font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Light";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light")
            format("svg"); /* iOS 4.1- */
}

/* Reset */

/**formulário**/

#lenovo-v15 #introducao-e-formulario .container {
    position: relative;
}
#lenovo-v15 #introducao-e-formulario .formulario {
    background: #ffffff;
    height: auto;
    width: 520px;
    float: right;
    padding: 45px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    zoom: 0.9;
    z-index: 3;
    position: relative;
}
#lenovo-v15 #introducao-e-formulario .formulario #close-form {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    display: none;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada {
    text-align: center;
    margin-bottom: 5px;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada h2 {
    color: #000;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.25;
    margin: 0 0 20px 0;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada p {
    color: #000;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 300;
    margin: 0;
    padding-bottom: 20px !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada p strong {
    font-weight: 500;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada a {
    color: #66c14f;
    display: inline-block;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm {
    width: 100% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonRow,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFieldWrap,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormRow {
    width: 100% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
    width: 47% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
    margin: 0 0 12px 0 !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol:nth-child(even) {
    float: right !important;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(1) {
    width: 100% !important;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(2) {
    display: none;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoGutter,
#lenovo-v15 #introducao-e-formulario .formulario .mktoOffset {
    display: none !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="date"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="email"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="number"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="tel"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="text"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="url"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm select.mktoField,
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    width: 100% !important;
    height: 40px;
    border: solid 1px #c7c7c7;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    padding-left: 16px;
    font-weight: 500;
    line-height: 100%;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-webkit-input-placeholder {
    color: #66c14f;
}
.mktoForm div,
.mktoForm span,
.mktoForm label,
.mktoForm p {
    font-family: "Gotham Book";
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField:-ms-input-placeholder {
    color: #000000;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-ms-input-placeholder {
    color: #000000;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::placeholder {
    color: #000000;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm select.mktoField {
    background: #ffffff
        url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg)
        top 50% right 16px no-repeat !important;
    -webkit-appearance: none !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    padding-top: 15px !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoLabel {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonWrap {
    width: 100% !important;
    margin: 0 !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton {
    background: #000000;
    font-family: Lato, Helvetica, Arial, sans-serif;
    border: none;
    width: 100% !important;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    height: 64px;
    text-transform: uppercase;
    line-height: 2;
    margin: 2px !important;
}
@media screen and (max-width: 1570px) {
    #lenovo-v15 #introducao-e-formulario .formulario {
        zoom: 0.9;
    }
}
@media screen and (max-width: 1370px) {
    #lenovo-v15 #introducao-e-formulario .formulario {
        zoom: 0.83;
    }
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoLabel {
        word-wrap: break-word !important;
        white-space: pre-line;
        width: 100% !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        width: 89%;
        max-height: 1342px;
        padding: 30px 20px 30px 20px;
        zoom: 1;
        top: 0;
        left: 0;
        z-index: 99999;
        margin: 0 !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario #close-form {
        display: block;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada {
        margin-bottom: 30px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada br {
        display: none;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada h2 {
        font-size: 26px;
        margin: 0 0 20px 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        font-size: 18px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
        width: 100% !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
        margin: 0 0 22px 0 !important;
    }
    #lenovo-v15
        #introducao-e-formulario
        .formulario
        .mktoFormCol:nth-child(even) {
        float: left !important;
    }
}
.container {
    width: 1224px;
    padding-inline: 5%;
    margin: 0 auto;
}
.bg_video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#lenovo-v15 .logofix {
    position: fixed;
    right: 0;
    top: 19%;
    width: 60px;
    z-index: 9;
}
#lenovo-v15 #introducao-e-formulario {
    background: #000000
        url("https://pages.lenovo.com/rs/183-WCT-620/images/v15__header-banner.png")
        center center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
    height: auto;
    display: flex;
    align-items: center;
}
#lenovo-v15 #introducao-e-formulario .introducao {
    width: 39%;
    float: left;
}
#lenovo-v15 #introducao-e-formulario .logointel {
    padding-top: 44px;
}
#lenovo-v15 #introducao-e-formulario h2 {
    font-family: "Gotham Bold";
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    text-align: left;
    font-size: 46px;
    letter-spacing: -2.3px;
    color: #66c14f;
    margin-top: 40px;
}
#lenovo-v15 #introducao-e-formulario .two {
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #ffffff;
    margin-bottom: 40px;
}
#lenovo-v15 #introducao-e-formulario strong {
    font-family: "Gotham Book";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #66c14f;
    padding-bottom: 56px;
    display: block;
}
#lenovo-v15 #introducao-e-formulario b {
    font-family: "Gotham Bold";
}
#lenovo-v15 #introducao-e-formulario h3 {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}
#lenovo-v15 #introducao-e-formulario p {
    font-family: "Gotham Book";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 60px;
    width: 449px;
}
#lenovo-v15 #introducao-e-formulario .chamada p {
    text-align: center;
}
#lenovo-v15 a {
    text-decoration: none;
}
#lenovo-v15 #introducao-e-formulario h4 {
    font-family: "Gotham Book", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 16px 0 16px 0;
}
#lenovo-v15 #introducao-e-formulario h5 {
    font-family: "Gotham Book", sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    margin: 10px;
}
#lenovo-v15 #introducao-e-formulario .win {
    padding-left: 40px;
}
@media screen and (max-width: 1600px) {
    #lenovo-v15 #introducao-e-formulario .introducao {
        zoom: 0.9;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width: 1000px) {
    #lenovo-v15 #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 30px;
    }
    #lenovo-v15 #introducao-e-formulario {
        padding: 0;
    }
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 img {
        max-width: 100%;
    }
    #lenovo-v15 #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        display: none;
    }
}
#cta-formulario-mobile {
    background: #66c14f;
    font-family: "Gotham Bold";
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 20px 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 90% !important;
    }
    .btn-form {
        display: none;
    }
    #cta-formulario-mobile {
        display: block;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 0;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
    }
    #lenovo-v15 #introducao-e-formulario h5 {
        padding-top: 50px;
        font-size: 18px;
    }
    #lenovo-v15 #introducao-e-formulario h2 {
        font-size: 34px;
    }
    #lenovo-v15 #introducao-e-formulario p {
        font-family: "Gotham Book";
    }
    #lenovo-v15 #introducao-e-formulario h3 {
        font-family: "Gotham Book";
        font-size: 22px;
    }
    #lenovo-v15 #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}
#lenovo-v15 #textojur {
    background-color: #c4c4c4;
    text-align: center;
    padding: 38px 0;
}
#lenovo-v15 #textojur p {
    width: 916px;
    font-family: "Gotham Book";
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 #textojur p {
        width: 90%;
        font-size: 10px;
        padding-bottom: 80px;
    }
}
#lenovo-v15 #introducao-e-formulario button {
    width: auto;
    height: 28px;
    margin: 0;
    padding: 2px 12px 2px 12px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-family: "Gotham Book";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#LblemailPermissionStatus {
    font-family: "GothamPro", sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
    text-align: justify;
    width: 100% !important;
    text-indent: 23px;
}
#lenovo-v15 #cta-formulario {
    width: 416px;
    height: 64px;
    font-family: "Gotham Book";
    background-color: #66c14f;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}
.desktop {
    display: block;
}
.mobile {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block !important;
    }
}
.divbutton {
    display: block;
    width: 100%;
    margin: 34px 0;
}
.divbutton a {
    font-family: "Gotham Book";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 392px;
    padding: 20px 0;
    background-color: #66c14f;
    text-transform: uppercase;
    display: block;
}

@media screen /*and (min-width: 480px) */ and (max-width: 1024px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}
.logolenovo {
    position: absolute;
    width: 40px;
    right: 0;
    top: 100px;
    z-index: 9;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section02 {
    background-color: #66c14f;
    padding: 106px 0;
}
#section02 button {
    display: none !important;
}
#section02 h2 {
    font-family: "Gotham Book";
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: #ffffff;
}
#section02 .col01 {
    text-align: right;
    width: 50%;
    float: left;
}
#section02 .col02 {
    text-align: left;
    width: 50%;
    float: right;
}
#video {
    background: #000000;
    padding: 136px 0;
    display: none;
}
#section03 {
    background: #333f48;
    padding: 136px 0;
}
#section03 h2 {
    font-family: "Gotham Book";
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #66c14f;
}
#section03 h3 {
    font-family: "Gotham Book";
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 30px;
}
#section03 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#section03 > div.container > div.col02 > p {
    padding: 30px 0;
}
#section03 li p {
    padding-left: 20px;
}
#section03 .col01 {
    width: 50%;
    float: left;
}
#section03 .col02 {
    width: 35%;
    float: left;
    padding-left: 100px;
}
#section03 li {
    display: flex;
    align-items: center;
    padding: 16px 0px;
}
#section03 span {
    font-family: "Gotham Book";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 20px;
    display: block;
}
#section04 {
    background-color: #f5f5f5;
    padding: 136px 0;
}
#section04 h2 {
    font-family: "Gotham Bold";
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}
#section04 h4 {
    font-family: "Gotham Book";
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
}
#section04 h3 {
    font-family: "Gotham Bold";
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-top: 50px;
}
#section04 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
#section04 li {
    width: 21%;
    float: left;
    text-align: center;
    padding: 20px;
}
#section04 li img {
    padding-bottom: 20px;
}
#section04 a {
    margin: 0 auto;
}
#section05 {
    background: #000000
        url("https://pages.lenovo.com/rs/183-WCT-620/images/v15-bg02.png")
        center center no-repeat;
    background-size: cover;
    padding: 219px 0;
}
#section05 .col01 {
    width: 40%;
}
#section05 h2 {
    font-family: "Gotham Bold";
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 30px;
}
#section05 h3 {
    font-family: "Gotham Book";
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 40px;
}
#section05 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 40px;
}
#section05 a {
    color: #66c14f;
    border: solid 2px #66c14f;
    background: transparent;
}
#section06 {
    background-color: #f5f5f5;
    padding: 154px 0;
}
#section06 .col01 {
    width: 50%;
    float: left;
}
#section06 .accordion {
    width: 50%;
    float: left;
}
/* Accordion styles */
/*Acco*/
.ac-container {
    max-width: 450px;
}

.ac-container > div {
    border-bottom: solid 1px #dbdbdb;
}

.ac-container label {
    font-family: "Gotham Bold";
    font-size: 20px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000000 !important;
    font-weight: bold !important;
    padding: 15px 30px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    background: transparent;
}

.ac-container {
    width: 100%;
    /*margin: 10px auto 50px auto;*/
    text-align: left;
    min-height: 300px;
}

.ac-container label:hover {
    background: transparent;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    background: transparent;
    color: #666;
    height: 25px;
    line-height: 21px;
    font-size: 13px;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent
        url(https://pages.lenovo.com/rs/183-WCT-620/images/arrow_down.png)
        no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(https://pages.lenovo.com/rs/183-WCT-620/images/arrow_up.png);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: transparent;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    font-family: "Gotham Book";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 10px 30px;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
    padding-bottom: 20px;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto;
    padding-bottom: 20px;
}

.ac-container input:checked ~ article.ac-large {
    height: auto;
    padding-bottom: 20px;
}

#section07 {
    background-color: #66c14f;
    padding: 65px 0;
    text-align: center;
}
#section07 h2 {
    font-family: "Gotham Book";
    font-size: 46px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 40px 0;
}
#section07 p {
    font-family: "Gotham Book";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 51px;
    width: 649px;
    margin: 0 auto;
}
#section07 .btn {
    background-color: #ffffff;
    color: #66c14f;
    margin: 0 auto;
}

/** ipad, surface e tablets **/
@media screen and (min-width: 766px) and (max-width: 1024px) {
    .ac-container label {
        font-size: 14px !important;
    }
    #lenovo-v15 #introducao-e-formulario {
        background: #000000
            url("https://pages.lenovo.com/rs/183-WCT-620/images/v15__header-banner.png")
            center left no-repeat;
        background-size: cover;
    }
    #lenovo-v15 #introducao-e-formulario p {
        width: 321px;
    }
    h2,
    h3 {
        font-size: 30px !important;
    }
    #section03 .col01 {
        padding-right: 20px;
        width: 45%;
    }
    #section03 .col02 {
        width: 50%;
        padding: 0;
    }
    #section03 {
        height: 710px;
    }
    #section03 ul {
        position: absolute;
        left: 90px;
        margin-top: 79px;
    }
    #section03 li {
        width: 47%;
        float: left;
    }
    #section03 .col01 img {
        max-height: 400px;
    }
    .divbutton a {
        width: 351px;
        display: none;
    }
    #section04 li {
        width: 43%;
        height: 290px;
    }
    #section05 {
        background: url(https://pages.lenovo.com/rs/183-WCT-620/images/v15-bg02.png)
            center right -330px no-repeat;
        background-size: cover;
        padding: 120px 0;
    }
    #section05 .col01 {
        width: 60%;
    }
    #section06 {
        background-color: #f5f5f5;
        padding: 80px 0;
    }
    #section07 {
        padding: 80px 0;
    }
    #lenovo-v15 #introducao-e-formulario p {
        width: 461px;
    }
}

/**iphone, android, celulares e demais**/
@media screen and (max-width: 766px) {
    .ac-container label {
        font-size: 14px !important;
    }
    #introducao-e-formulario .container {
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(45deg, black, transparent);
    }
    #lenovo-v15 #introducao-e-formulario p {
        width: 100%;
    }
    .logolenovo {
        width: 35px;
        top: 60px;
    }
    #lenovo-v15 #introducao-e-formulario .introducao {
        zoom: 1;
    }
    h2 {
        font-size: 22px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    p {
        font-size: 16px !important;
    }
    #section07 {
        padding: 40px 0;
    }
    .divbutton a {
        font-size: 16px;
        width: 100%;
        display: block;
        height: auto;
        padding: 12px 0px;
        display: none;
    }
    .divbutton {
        display: none;
    }
    #section03 .col2 {
        display: none;
    }
    #section07 p {
        width: 100%;
    }
    #lenovo-v15 #textojur p {
        width: 90%;
        font-size: 10px !important;
    }
    #section02,
    #section03,
    #video,
    #section04,
    #section05,
    #section06 {
        padding: 40px 0;
    }
    #section02 {
        padding-bottom: 70px;
    }
    #section02 .col01,
    #section02 .col02 {
        width: 100%;
        text-align: center;
    }
    #section03 .col01,
    #section03 .col02 {
        width: 100%;
        float: left;
        padding: 0;
    }
    #section03 h2 {
        padding-top: 28px;
    }
    #section04 li {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }
    #section04 li img {
        width: 70px;
    }
    #section05 .col01 {
        width: 100%;
    }
    #section05 {
        background: #000000
            url(https://pages.lenovo.com/rs/183-WCT-620/images/v15-bg02.png)
            center right -350px no-repeat;
        background-size: cover;
    }
    #section06 .col01,
    #section06 .accordion {
        width: 100%;
    }
    .ac-container article p {
        font-size: 14px !important;
        line-height: 1.5;
    }
    #lenovo-v15 #introducao-e-formulario h3 {
        font-size: 13px !important;
    }
    #lenovo-v15 #introducao-e-formulario h2 {
        font-size: 38px !important;
        margin: 20px 0;
    }

    #lenovo-v15 #introducao-e-formulario .two {
        font-size: 21px !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1550px) {
    .container {
        width: 1024px;
        margin: 0 auto;
    }
}

/* Otimização */
.header__image-float {
    display: none;
}

.hero__title {
    color: #fff !important;
    margin-bottom: 2rem;
    font-family: "Gotham Bold";
    margin-top: 2rem;
    font-size: 2.75rem;
}

.hero__title span {
    color: #66c14f;
}

.hero__subtitle {
    font-weight: 700 !important;
    font-family: "Gotham Bold";
    padding-bottom: 3rem !important;
    max-width: 22ch;
    font-size: 1.5rem !important;
}

#section04 .container p {
    margin-bottom: 2rem;
    max-width: 50ch;
    margin-inline: auto;
}

#section05 .container .col01 h2 {
    color: #66c14f;
    max-width: 15ch !important;
}

.custom-list {
    color: #fff;
    font-family: "Gotham Book";
    display: grid;
    gap: 0.5rem;
}

.custom-list li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    line-height: 1.5;
}

.custom-list li::before {
    content: "";
    background-color: #66c14f;
    width: 5px;
    aspect-ratio: 1;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.accordion h2 {
    font-family: "Gotham Bold";
    color: #66c14f;
    padding-left: 30px;
    margin-bottom: 1.25rem;
    max-width: 15ch;
    font-size: 2rem;
}

@media (min-width: 1100px) {
    .header__image-float {
        display: block;

        position: absolute;

        max-width: 22rem !important;
        bottom: -6rem;
        right: -16%;
        z-index: 9999;
    }
}

@media (min-width: 1350px) {
    .header__image-float {
        max-width: 25rem !important;
        bottom: -10rem;
        right: -23%;
    }
}

@media (min-width: 1900px) {
    .header__image-float {
        max-width: 28rem !important;
        bottom: -8.5rem;
        right: -18rem;
        z-index: 9999;
    }
}

#lenovo-v15 #introducao-e-formulario .formulario .mktoAsterix {
    display: unset;
    position: absolute;
    top: 10px;
    left: 2px;
    font-size: 0.8rem !important;
    font-family: "Gotham Book";
    font-weight: bold;
}

#LblemailPermissionStatus > .mktoAsterix,
#LblcontactMeComment > .mktoAsterix {
    display: none !important;
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    color: #fff;
    font-family: "Gotham Book";
}

.intel {
    display: flex;
    align-items: flex-end;
    gap: 0.3rem;
}

.intel img {
    max-width: 3.5rem !important;
}

.intel span {
    font-size: 0.9rem;
}

.win {
    display: grid;
    gap: 0.4rem;

    padding-left: 0 !important;
}

.win img {
    max-width: 10rem;
}

.win span {
    font-size: 0.8rem;
    line-height: 1.3;
}

@media (min-width: 45em) {
    .logos {
        flex-direction: row;
    }

    .intel img {
        max-width: 4rem !important;
    }
}

#section03,
#section04 {
    padding-block: 60px !important;
}

#section05 {
    padding-block: 40px !important;
}

#section07 {
    padding-block: 30px !important;
}

@media (min-width: 60em) {
    #section03,
    #section04 {
        padding-block: 100px !important;
    }

    #section05 {
        padding-block: 120px !important;
    }

    #section07 {
        padding-block: 50px !important;
    }
}

@media screen and (min-width: 766px) and (max-width: 1024px) {
    #section05 {
        background-position: left;
    }
}
