#LblemailPermissionStatus {
    font-family: 'GothamPro',sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: .29px;
    font-size: 12px;
    text-align: justify;
    width: 100%!important;
    text-indent: 23px;
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#lenovoeducacao a:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: .3s;
}
section{
    scroll-behavior: smooth;
}
#lenovoeducacao a{
    transition-duration: .3s;
}
@font-face {font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: 'Gotham Light';
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light") format("svg"); /* iOS 4.1- */
}

    /* Reset */
    
/**formulário**/
#lenovoeducacao #introducao-e-formulario .formulario{
    background:#ffffff;
    height:auto;
    width:490px;
    float:right;
    padding:45px;
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    zoom: 0.9;
}
#lenovoeducacao #introducao-e-formulario .formulario #close-form{
    background:#fff;
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    padding:10px;
    display:none
}
#lenovoeducacao #introducao-e-formulario .formulario .chamada{
    text-align:center;
}
#lenovoeducacao #introducao-e-formulario .formulario .chamada h2{
    color:#000;
    font-size:32px;
    font-weight:900;
    line-height:1.25;
    margin:0 0 20px 0
}
#lenovoeducacao #introducao-e-formulario .formulario .chamada p{
    color:#000;
    font-size:16px;
    line-height:1.6;
    font-weight:300;
    margin:0
}
#lenovoeducacao #introducao-e-formulario .formulario .chamada p strong{
    font-weight:500
}
#lenovoeducacao #introducao-e-formulario .formulario .chamada p a{
    background:#F06A22;
    color:#fff;
    display:inline-block;
    padding:1px 5px 0 5px;
    font-weight:500
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm{
    width:100%!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoButtonRow,#lenovoeducacao #introducao-e-formulario .formulario .mktoFieldWrap,#lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol,#lenovoeducacao #introducao-e-formulario .formulario .mktoFormRow{
    width:100%!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol{
    width:47%!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol{
    margin:0 0 12px 0!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
    float:right!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(1){
    width:100%!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(2){
    display:none
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoAsterix,#lenovoeducacao #introducao-e-formulario .formulario .mktoGutter,#lenovoeducacao #introducao-e-formulario .formulario .mktoOffset{
    display:none!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=date],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=email],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=number],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=tel],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=text],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=url],#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    width:100%!important;
    height:40px;
    border:solid 1px #c7c7c7;
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000000;
    font-size:14px;
    padding-left:16px;
    font-weight:500;
    line-height:100%
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=date]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=email]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=number]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=tel]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=text]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=url]::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField::-webkit-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-webkit-input-placeholder{
    color:#F06A22
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=date]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=email]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=number]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=tel]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=text]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=url]:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField:-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField:-ms-input-placeholder{
    color:#000000
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=date]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=email]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=number]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=tel]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=text]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=url]::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField::-ms-input-placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-ms-input-placeholder{
    color:#000000
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=date]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=email]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=number]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=tel]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=text]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm input[type=url]::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField::placeholder,#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField::placeholder{
    color:#000000
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm select.mktoField{
    background:#ffffff url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg) top 50% right 16px no-repeat!important;
    -webkit-appearance:none!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    padding-top:15px!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoLabel{
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000;
    line-height:1.5;
    letter-spacing:.29px;
    font-size:12px
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoButtonWrap{
    width:100%!important;
    margin:0!important
}
#lenovoeducacao #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton{
    background:#FB8C30;
    font-family:Lato,Helvetica,Arial,sans-serif;
    border:none;
    width:100%!important;
    font-size:20px;
    color:#fff;
    font-weight:900;
    text-align:center;
    height:64px;
    text-transform:uppercase;
    line-height:2;
    margin:2px!important
}
@media screen and (max-width:1570px){
    #lenovoeducacao #introducao-e-formulario .formulario{
        zoom:.9
    }
    #lenovoeducacao #introducao-e-formulario .introducao {
        margin: 0 16px 0 0 !important;
    }
}
@media screen and (max-width:1400px){
    #lenovoeducacao #introducao-e-formulario .formulario{
        zoom:.83
    }
}
@media screen and (max-width:1100px){
    #lenovoeducacao #introducao-e-formulario .formulario .mktoLabel{
        word-wrap:break-word!important;
        white-space:pre-line;
        width:100%!important
    }
    #lenovoeducacao #introducao-e-formulario .formulario{
        width:89%;
        max-height:1342px;
        padding:30px 20px 30px 20px;
        zoom:1;
        top:0;
        left:0;
        z-index:99999;
        margin:0!important
    }
    #lenovoeducacao #introducao-e-formulario .formulario #close-form{
        display:block
    }
    #lenovoeducacao #introducao-e-formulario .formulario .chamada{
        margin-bottom:30px
    }
    #lenovoeducacao #introducao-e-formulario .formulario .chamada br{
        display:none
    }
    #lenovoeducacao #introducao-e-formulario .formulario .chamada h2{
        font-size:26px;
        margin:0 0 20px 0
    }
    #lenovoeducacao #introducao-e-formulario .formulario .chamada p{
        font-size:14px;
    }
    #lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol{
        width:100%!important
    }
    #lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol{
        margin:0 0 22px 0!important
    }
    #lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
        float:left!important
    }
}

#lenovoeducacao .lenovo-logo {
    position: fixed;
    top: 100px;
    right: -1px;
    z-index: 9999;
    width: 50px;
}

.container {
    margin: 0 auto;
    width: 1223px;
}

.container2{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

img.logo {
    position: absolute;
    left: 65px;
    top: 65px;
}

#lenovoeducacao .logofix{
    position: fixed;
    right:0;
    top: 19%;
    width: 60px;
    z-index: 9;
}
#lenovoeducacao #introducao-e-formulario {
    background: url('solucoes-para-educao-atualizacao-bg01.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 130px 0;
    height: auto;
    display: flex;
    align-items: center;
}
#lenovoeducacao #introducao-e-formulario .introducao {
    width: 46%;
    float: left;
    margin: 0 95px 0 0;
}
#lenovoeducacao #introducao-e-formulario h2{
    font-family: 'Gotham Book';
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 40px 0 33px 0;
}
#lenovoeducacao #introducao-e-formulario strong{
    font-family: 'Gotham Bold';
}
#lenovoeducacao #introducao-e-formulario b{
    font-family: 'Gotham Bold';
}
#lenovoeducacao #introducao-e-formulario h3{
    font-family: 'Gotham Book';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #FB8C30;
    padding: 0 0 45px 0;
}
#lenovoeducacao #introducao-e-formulario h3 b{
    font-family: 'Gotham Bold';
}
#lenovoeducacao #introducao-e-formulario p{
    font-family: 'Gotham Book';
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 30px;
}
#lenovoeducacao #introducao-e-formulario .chamada p {
    text-align: center;
}
#lenovoeducacao a {
    text-decoration: none;
}

#lenovoeducacao #introducao-e-formulario h5{
    font-family: 'Gotham Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 10px;
}
@media screen and (max-width:1366px){
    #lenovoeducacao #introducao-e-formulario .introducao {
        zoom: 0.8;
    }
    #lenovoeducacao #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width:1000px){
    #lenovoeducacao #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 30px;
    }
    #lenovoeducacao #introducao-e-formulario {
        padding: 0;
    }
}
@media screen and (max-width: 1100px){
    #lenovoeducacao img{
        max-width: 100%;
    }
    #lenovoeducacao #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #lenovoeducacao #introducao-e-formulario .formulario {
        display: none;
    }
}
.cta-formulario-mobile {
    background: #FB8C30;
    font-family: 'Gotham Bold';
    width: 100%;
    height: 48px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px){
    .btn-form{
        display:none;
    }
    .cta-formulario-mobile {
        display: block;
    }
    #lenovoeducacao #introducao-e-formulario h3 {
        font-size: 18px;
    }
    #lenovoeducacao #introducao-e-formulario .formulario {
        width: 94%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 30px 15px;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
    }
    #lenovoeducacao #introducao-e-formulario h2 {
        font-size: 25px;
    }
    #lenovoeducacao #introducao-e-formulario p {
        font-family: 'Gotham Book';
        font-size: 16px;
    }   
    #lenovoeducacao #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        padding: 0 100px 120px 0;
        height: auto;
        display: flex;
        align-items: center;
    }
    .container {
        margin: 0 auto;
        max-width: 100% !important;
    }
}

#lenovoeducacao #pre-slider{
    background-image: linear-gradient(90deg, #c23963 0%, #f47344 94%);
    text-align: center;
    color: #fff;
    font-family: 'Gotham Book';
    padding-top: 80px;
}
#lenovoeducacao #pre-slider h5{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
#lenovoeducacao #pre-slider p{
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
#lenovoeducacao #slider{
    height: 740px;
    overflow: hidden;
}
@media screen and (min-width:1024px){
    #slider .div01{
        width:50%;
    }
}
#lenovoeducacao #slider h2{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#lenovoeducacao #slider .container {
    margin: 0 auto;
    width: 1033px;
    display: flex;
    align-items: center;
}
#lenovoeducacao #slider p{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-top: 35px;
}
#lenovoeducacao #slider a.btn-form{
    background-color: #FB8C30!important;
    margin-top: 60px!important;
}
#lenovoeducacao #slider .item01,
#lenovoeducacao #slider .item02,
#lenovoeducacao #slider .item03,
#lenovoeducacao #slider .item04{
    /*height: 885px !important;*/
    overflow: hidden;
    background-image: linear-gradient(90deg, #c23963 0%, #f47344 94%);
    display: flex;
    align-items: center;
    height: 740px;
}

#lenovoeducacao #slider .column{
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}

#lenovoeducacao #slider .column .part01 {
    width: 475px;
    margin-right: 90px;
}

#lenovoeducacao #slider .column .part02{
    width: 50%;
}

#lenovoeducacao #slider .items h1{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 60px;
}

#lenovoeducacao #slider .items h3{
    font-family: 'Gotham Bold';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 25px;
}

a.button{
    width: 380px;
    height: 64px;
    font-family: 'Gotham Bold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: .3s;
    cursor: pointer;
    padding: 24px 90px;
    outline: none;
}

a.button:hover{
    background-color: #a5aab5 !important;
    transition-duration: .3s;
}

#lenovoeducacao #slider .items .item01 a.button{
    background-color: #66c14f;
}

#lenovoeducacao #slider .items .item02 a.button{
    background-color: #FB8C30;
}

#lenovoeducacao #slider .items .item03 a.button{
    background-color: #6E47A5;
}

#lenovoeducacao #slider .items .disclaimer {
    position: relative;
    right: 65px;
    top: -10px;
}

#lenovoeducacao #slider .items .item03 .disclaimer {
    position: relative;
    right: 105px !important;
    top: -25px;
}

#lenovoeducacao #slider .items .disclaimer p{
    font-family: 'Gotham Book';
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin-bottom: 0px;
    width: 258px;
}

#lenovoeducacao #slider .items ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#lenovoeducacao #slider .items ul li{
    display: flex;
    margin-bottom: 10px;
}

#lenovoeducacao #slider .items ul li img{
    width: 46.2px;
    height: 46.2px;
    margin: 5px 25px 0 0;
}

#lenovoeducacao #slider .items ul li p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 12px 0 0 0;
}

#lenovoeducacao #slider .column .part02 img {
    margin: 20px auto 60px auto;
    max-height: 400px;
}

#lenovoeducacao #slider .item03 .column .part02 img {
    position: relative;
    left: 65px;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.slick-next{
    right: -25px!important;
    left: auto;
    z-index: 999999;
    width: 300px;
    height: 30px;
}

.slick-prev {
    right: auto;
    left: -25px!important;
    z-index: 999999;
    width: 300px;
    height: 30px;
}

.middle{
    justify-content: center!important;
    flex-direction: column!important;
    display: flex!important;
}
#lenovoeducacao #disclaimer-final{
    padding: 58px 0;
    background-color: #c4c4c4;
}

#lenovoeducacao #disclaimer-final p{
    font-family: 'Gotham Book';
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.desktop, img.desktop{
    display: block !important;
}

.mobile, img.mobile{
    display: none !important;
}


@media (max-width: 1100px){

    .desktop, img.desktop{
        display: none !important;
    }

    .mobile, img.mobile{
        display: block !important;
    }

    #lenovoeducacao .lenovo-logo {
        width: 30px;
        top: 20%;
        position: absolute;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 9999;
    }

    #lenovoeducacao #introducao-e-formulario h5 {
        font-size: 16px;
    }

    #lenovoeducacao #slider .items h1{
        text-align: center;
        font-size: 18px !important;
        font-weight: 500;
    }

    #lenovoeducacao #slider .column{
        display: block;
    }

    #lenovoeducacao #slider .column .part01,
    #lenovoeducacao #slider .column .part02 {
        width: 100% !important;
        margin: 0 auto !important;
    }

    #lenovoeducacao #slider .item01 .column .part02 {
        position: relative;
        bottom: 295px;
        max-width: 247px;
    }

    #lenovoeducacao #slider .item02 .column .part02 {
        position: relative;
        bottom: 295px;
        max-width: 247px;
    }

    #lenovoeducacao #slider .item03 .column .part02 {
        position: relative;
        bottom: 340px;
        max-width: 210px;
    }

    #lenovoeducacao #slider .column .part01 {
        position: relative;
        top: 235px;
        text-align: center;
    }

    #lenovoeducacao #slider .items ul li:nth-child(1),
    #lenovoeducacao #slider .items ul li:nth-child(3),
    #lenovoeducacao #slider .items ul li:nth-child(5){
        margin-left: 10px;
    }

    #lenovoeducacao #slider .items ul li:nth-child(2),
    #lenovoeducacao #slider .items ul li:nth-child(4),
    #lenovoeducacao #slider .items ul li:nth-child(6){
        margin-left: 10px;
    }

    #lenovoeducacao #slider .items ul li{
        height: 43px;
    }

    #lenovoeducacao #slider .items ul li img {
        width: 28px;
        height: 28px;
        margin: 15px 8px 0 0;
    }

    #lenovoeducacao #slider .item01 {
        width: 100%;
        padding: 80px 0;
        height: auto;
        display: flex;
        align-items: center;
    }

    #lenovoeducacao #slider .item03 .column .part02 img{
        position: unset;
        left: unset;
    }

    #lenovoeducacao #slider .items ul {
        overflow: hidden;
        display: inline-block;
    }

    #lenovoeducacao #slider .items ul li {
        float: left;
        width: 46%;
    }

    #lenovoeducacao #slider .items .divbutton {
        margin: 50px auto 20px auto !important;
        text-align: center;
    }

    #lenovoeducacao #slider .items ul li p {
        font-size: 11px !important;
    }

    a.button {
        width: 100%;
        height: 50px;
        font-size: 11px;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        padding: 15px 90px;
        margin: 0 auto;
    }

    .slick-next {
        right: -25px !important;
        width: 100px !important;
        top: 245px;
    }

    .slick-prev{
        width: 100px !important;
        left: -25px !important;
        top: 245px;
    }

    #lenovoeducacao #slider .items .disclaimer {
        position: relative !important;
        right: unset !important;
        top: 320px !important;
        text-align: center;
    }

    #lenovoeducacao #slider .items .item02 .disclaimer {
        top: 310px !important;
    }

    #lenovoeducacao #slider .items .item03 .disclaimer {
        position: relative !important;
        right: 25px !important;
        top: 320px !important;
        text-align: center;
    }

    #lenovoeducacao #slider .items h3 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #lenovoeducacao #slider .items h3 {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
        display: block;
        width: 100%;
    }

    #lenovoeducacao #slider .items .disclaimer p{
        text-align: center;
    }

    #lenovoeducacao img.intelvpro {
        position: relative;
        top: 132px;
        left: 65%;
        z-index: 9;
        width: 114px;
    }

    #lenovoeducacao #disclaimer-final p {
        font-size: 10px;
    }

    #lenovoeducacao #disclaimer-final{
        padding: 30px 30px 92px 30px;
        display: flex;
    }

    #lenovoeducacao{
        overflow: hidden;
    }


}

@media (max-width: 1400px){
    .container {
        margin: 0 auto;
        max-width: 990px;
    }
}

@media (min-width: 1101px) and (max-width: 1500px){

    #lenovoeducacao #introducao-e-formulario {
        padding: 100px 0;
    }

    #lenovoeducacao #slider {
        height: 805px;
        overflow: hidden;
    }

    #lenovoeducacao #slider .items h1{
        font-size: 28px;
        margin-bottom: 45px;
    }

    #lenovoeducacao #slider .items h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    #lenovoeducacao #slider .items ul li p {
        font-size: 16px;
    }

    #lenovoeducacao #slider .column .part01 {
        width: 400px;
        margin: 0 90px 0 60px;
    }

    #lenovoeducacao #slider .item02 .column .part02 img {
        width: 400px;
    }

    #lenovoeducacao #slider .items .disclaimer {
        position: relative;
        right: 95px;
    }

    #lenovoeducacao #slider .items .item01 .disclaimer {
        position: relative;
        right: 95px;
        top: -10px;
    }

    #lenovoeducacao #slider .items .item02 .disclaimer {
        position: relative;
        right: 95px !important;
        top: 20px;
    }

    #lenovoeducacao #slider .items .item03 .disclaimer {
        position: relative;
        right: 105px !important;
        top: -25px;
    }

    #lenovoeducacao #final p {
        width: 605px;
        font-size: 20px;
    }

    .slick-prev {
        left: 55px;
        width: 300px;
        height: 30px;
    }

    .slick-next {
        right: 55px;
        width: 300px;
        height: 30px;
    }
}

@media (min-width: 1500px) {
    #lenovoeducacao #slider .column .part01 {
        width: 400px;
        margin: 0 90px 0 0px !important;
    }
}

@media (min-width: 1501px){

    #lenovoeducacao #porque .item01 .text {
        position: absolute;
        right: 200px;
        top: 90px;
    }

    #lenovoeducacao #porque .item01 .text {
        position: absolute;
        right: 200px;
        top: 90px;
    }

    #lenovoeducacao #porque .item .item01 {
        min-height: 700px;
    }

    #lenovoeducacao #disclaimer-final p {
        font-size: 10px !important;
    }

    #lenovoeducacao #introducao-e-formulario .formulario .mktoFormCol {
        margin: 0 0 24px 0!important;
    }

    #lenovoeducacao #introducao-e-formulario p{
        margin-bottom: 50px;
    }

    #lenovoeducacao #introducao-e-formulario .formulario {
        padding: 54px 45px 50px 45px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px){
    #lenovoeducacao #slider .items h1 {
        position: relative;
        left: 60px;
    }

    .slick-prev {
        left: 15px;
        width: 300px;
        height: 30px;
    }

    .slick-next {
        right: 15px;
        width: 300px;
        height: 30px;
    }
}

@media (max-width: 1550px) and (min-width: 1501px){
    #lenovoeducacao #slider .items h1 {
        position: relative;
        left: 0px;
    }   
    
    .slick-prev {
        right: auto;
        left: 25px;
    }

    .slick-next {
        left: auto;
        right: 25px;
    }
}

@media (min-width:1600px){
    #lenovoeducacao #about .item02 {
        margin-left: 80px;
    }
}

@media (min-width: 1730px){
    .slick-next {
        right: 200px;
    }

    .slick-prev {
        left: 200px;
    }
}
.mktoCheckboxList {
position: absolute;
left: 0;
top: 2px;
}
.section02 .container,.section03 .container,.section03-v2 .container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px 50px;
}
#lenovoeducacao .section03 h2{
    max-width: 400px;
}
#lenovoeducacao .section02 h2{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #FB8C30;
}
#lenovoeducacao .section02 p{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 30px;
}
#lenovoeducacao .section02{
    padding: 100px 0 100px 0;
    text-align: center;
}
#lenovoeducacao a.btn-form{
    width: 416px;
    height: 64px;
    background-color: #ec691a;
    border: none;
    font-family: 'Gotham Book';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    margin-top: 50px;
}
#lenovoeducacao .section03 h2,#lenovoeducacao .section03-v2 h2{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #FB8C30;
}
#lenovoeducacao .section03 h5,#lenovoeducacao .section03-v2 h5,#lenovoeducacao .section02 h5{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 30px;
}
#lenovoeducacao .section03 p,#lenovoeducacao .section03-v2 p{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 30px;
}
#lenovoeducacao .section03,#lenovoeducacao .section03-v2{
    padding: 100px 0 100px 0;
    text-align: center;
}
#lenovoeducacao .section03 span,#lenovoeducacao .section03-v2 span{
    font-family: 'Gotham Book';
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 40px;
    display: block;
}
#lenovoeducacao .section03{
    position: relative;
}

#lenovoeducacao .section03 img{
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 48vw!important;
    padding: 0px!important;
}
#lenovoeducacao #section04{
    background: url('solucoes-para-educao-atualizacao-img04.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
}
#lenovoeducacao #section04 h2{
    font-family: 'Gotham Book';
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#lenovoeducacao #section04 p{
    padding-top: 50px;
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: 50%;
}
#section04 a{
     background: transparent!important;
     border: 2px solid #fff!important;
}
@media screen and (min-width: 1100px) and (max-width: 1600px){
    img{
        max-width: 93%;
    }
    #lenovoeducacao #introducao-e-formulario .formulario {
        background: #ffffff;
        height: auto;
        width: 556px;
    }
    #lenovoeducacao .div01 img,#lenovoeducacao .div02 img{
        max-width: 93%;
        padding: 20px;        
    }
    #lenovoeducacao .section03 h2 {
        font-size: 30px;
    }
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
@media screen and (max-width: 1100px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .container {
        width:100%;
        padding: 20px;
    }
    #lenovoeducacao .section02 h2,#lenovoeducacao .section03 h2 {
        font-size: 25px;
        padding-top: 20px;
    }
    #lenovoeducacao .section02 p,#lenovoeducacao .section03 p {
        font-size: 14px;
    }
    #lenovoeducacao a.btn-form{
        display: none;
    }
    #lenovoeducacao #slider .container {
        width: 100%;
        display: block;
    }
    #lenovoeducacao #slider{
        text-align: center;
    }
    #lenovoeducacao #slider h2{
        font-size: 20px;
        text-align: center;
    }
    #lenovoeducacao #slider p{
        font-size: 14px;
        text-align: center;
    }
    #lenovoeducacao #slider img.mobile{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    #lenovoeducacao #slider .item01, #lenovoeducacao #slider .item02, #lenovoeducacao #slider .item03, #lenovoeducacao #slider .item04 {
        background: inherit;
        padding: 20px 0;
        height: auto;
    }
    #slider {
        background-image:linear-gradient(90deg, #c23963 0%, #f47344 94%);
    }
    .slick-prev {
        width: 60px !important;
        height: 60px !important;
        left: 15px !important;
        top: 165px;
    }
    .slick-next {
        width: 60px !important;
      	height: 60px !important;
        right: 15px !important;
        top: 165px;
    }
    #lenovoeducacao #slider {
        overflow: hidden;
        height: auto;
    }
    #lenovoeducacao #section04 h2 {
        font-family: 'Gotham Book';
        font-size: 20px;
    }
    #lenovoeducacao #section04 {
        height: 449px;
    }
    #lenovoeducacao .section02 {
        display: flex;
        padding: 50px 0 0 0;
    }
    #lenovoeducacao .section03 {
        display: flex;
        padding: 50px 0 0 0;
    }
    #lenovoeducacao .section03 h5, #lenovoeducacao .section02 h5 {
        padding-top: 30px;
        padding-bottom: 0;
    }
    #lenovoeducacao #pre-slider h5 {
        font-size: 26px;
    }
    #lenovoeducacao #pre-slider {
        margin-bottom: -5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #lenovoeducacao #section04 br{
        display: none;
    }
    #lenovoeducacao #section04 p {
        padding-top: 20px;
        width: 100%;
    }
    #lenovoeducacao .section02 .container,#lenovoeducacao .section03 .container, #lenovoeducacao .section03-v2 .container{
        gap: 10px;
    }
}
@media screen and (max-width: 767px){
    #lenovoeducacao #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        padding: 0;
    }
    #lenovoeducacao .section02 .container {
        display: flex;
        flex-direction: column-reverse;
    }
    #lenovoeducacao .section03 img{
        position: relative;
        display: none;
    }
    #lenovoeducacao .section03 .container {
        display: grid;
        grid-template-columns: 100%;
    }

    #lenovoeducacao #pre-slider h5 {
        font-size: 15px;
    }
    #lenovoeducacao #pre-slider p {
        font-size: 17px;
    }
    #lenovoeducacao .section03-v2 .container {
        grid-template-columns: 100%;
        gap: 50px;
    }
    #lenovoeducacao .section03-v2 h2 {
        font-size: 26px;
    }
    #lenovoeducacao .section03,#lenovoeducacao .section03-v2{
        text-align: left;
    }
    #lenovoeducacao .section02 img, #lenovoeducacao .section03 img,#lenovoeducacao .section03-v2 img,.section04 img{
        max-width: 60%!important;
        margin-left: 0;
    }
}