html,
body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#lenovo-v15 a:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: 0.3s;
}
img {
    max-width: 100%;
}
section {
    scroll-behavior: smooth;
}
#lenovo-v15 a {
    transition-duration: 0.3s;
}
b {
    font-family: "Gotham Bold";
}
@font-face {
    font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Light";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light")
            format("svg"); /* iOS 4.1- */
}

/* Reset */

/**formulário**/
#lenovo-v15 #introducao-e-formulario .formulario {
    background: #ffffff;
    height: auto;
    width: 520px;
    float: right;
    padding: 45px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    zoom: 0.9;
    z-index: 3;
    position: relative;
}
#lenovo-v15 #introducao-e-formulario .formulario #close-form {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    display: none;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada {
    text-align: center;
    margin-bottom: 5px;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada h2 {
    color: #000;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.25;
    margin: 0 0 20px 0;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada p {
    color: #000;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 300;
    margin: 0;
    padding-bottom: 20px !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada p strong {
    font-weight: 500;
}
#lenovo-v15 #introducao-e-formulario .formulario .chamada p a {
    background: #3c91cf;
    color: #fff;
    display: inline-block;
    padding: 1px 5px 0 5px;
    font-weight: 500;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm {
    width: 100% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonRow,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFieldWrap,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol,
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormRow {
    width: 100% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
    width: 47% !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
    margin: 0 0 12px 0 !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol:nth-child(even) {
    float: right !important;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(1) {
    width: 100% !important;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(2) {
    display: none;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoAsterix,
#lenovo-v15 #introducao-e-formulario .formulario .mktoGutter,
#lenovo-v15 #introducao-e-formulario .formulario .mktoOffset {
    display: none !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="date"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="email"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="number"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="tel"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="text"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm input[type="url"],
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm select.mktoField,
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    width: 100% !important;
    height: 40px;
    border: solid 1px #c7c7c7;
    font-family: "Gotham Book", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    padding-left: 16px;
    font-weight: 500;
    line-height: 100%;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-webkit-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-webkit-input-placeholder {
    color: #3c91cf;
}
.mktoForm div,
.mktoForm span,
.mktoForm label,
.mktoForm p {
    font-family: "Gotham Book";
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField:-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField:-ms-input-placeholder {
    color: #000000;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-ms-input-placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-ms-input-placeholder {
    color: #000000;
}
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::placeholder,
#lenovo-v15
    #introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::placeholder {
    color: #000000;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm select.mktoField {
    background: #ffffff
        url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg)
        top 50% right 16px no-repeat !important;
    -webkit-appearance: none !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    padding-top: 15px !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoLabel {
    font-family: "Gotham Book", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonWrap {
    width: 100% !important;
    margin: 0 !important;
}
#lenovo-v15 #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton {
    background: #3c91cf;
    font-family: "Gotham Book", Helvetica, Arial, sans-serif;
    border: none;
    width: 100% !important;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    height: 64px;
    text-transform: uppercase;
    line-height: 2;
    margin: 2px !important;
}
@media screen and (max-width: 1570px) {
    #lenovo-v15 #introducao-e-formulario .formulario {
        zoom: 0.9;
    }
}
@media screen and (max-width: 1370px) {
    #lenovo-v15 #introducao-e-formulario .formulario {
        zoom: 0.83;
    }
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoLabel {
        word-wrap: break-word !important;
        white-space: pre-line;
        width: 100% !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        width: 89%;
        max-height: 1342px;
        padding: 30px 20px 30px 20px;
        zoom: 1;
        top: 0;
        left: 0;
        z-index: 99999;
        margin: 0 !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario #close-form {
        display: block;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada {
        margin-bottom: 30px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada h2 {
        font-size: 26px;
        margin: 0 0 20px 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        font-size: 18px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
        width: 100% !important;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoFormCol {
        margin: 0 0 22px 0 !important;
    }
    #lenovo-v15
        #introducao-e-formulario
        .formulario
        .mktoFormCol:nth-child(even) {
        float: left !important;
    }
}
.container {
    width: 1224px;
    margin: 0 auto;
}
.bg_video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#lenovo-v15 .logofix {
    position: fixed;
    right: 0;
    top: 19%;
    width: 60px;
    z-index: 9;
}
#lenovo-v15 #introducao-e-formulario {
    background: #000000
        url("https://pages.lenovo.com/rs/183-WCT-620/images/thinkstation-p340-bg01.png")
        center right no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
    height: auto;
    display: flex;
    align-items: center;
}
#lenovo-v15 #introducao-e-formulario .introducao {
    width: 50%;
    float: left;
}
#lenovo-v15 #introducao-e-formulario h2 {
    font-family: "Gotham Book";
    font-size: 3.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -3px;
    text-align: left;
    color: #fff;
    margin: 40px 0;
}
#lenovo-v15 #introducao-e-formulario .two {
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #ffffff;
    margin-bottom: 40px;
}
#lenovo-v15 #introducao-e-formulario strong {
    font-family: "Gotham Book";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #3c91cf;
    padding-bottom: 56px;
    display: block;
}
#lenovo-v15 #introducao-e-formulario b {
    font-family: "Gotham Bold";
}
#lenovo-v15 #introducao-e-formulario h3 {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}
#lenovo-v15 #introducao-e-formulario p {
    font-family: "Gotham Book";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 60px;
    width: 449px;
}
#lenovo-v15 #introducao-e-formulario .chamada p {
    text-align: center;
}
#lenovo-v15 a {
    text-decoration: none;
}
#lenovo-v15 #introducao-e-formulario h4 {
    font-family: "Gotham Book", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 16px 0 16px 0;
}
#lenovo-v15 #introducao-e-formulario h5 {
    font-family: "Gotham Book", sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    margin: 10px;
}
#lenovo-v15 #introducao-e-formulario .win {
    padding-left: 40px;
}
@media screen and (max-width: 1600px) {
    #lenovo-v15 #introducao-e-formulario .introducao {
        zoom: 0.9;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width: 1000px) {
    #lenovo-v15 #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 20px;
    }
    #lenovo-v15 #introducao-e-formulario {
        padding: 0;
    }
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 img {
        max-width: 100%;
    }
    #lenovo-v15 #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        display: none;
    }
}
#cta-formulario-mobile {
    background: #3c91cf;
    font-family: "Gotham Bold";
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    #lenovo-v15 #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 100% !important;
    }
    .btn-form {
        display: none;
    }
    #cta-formulario-mobile {
        display: block;
    }
    #lenovo-v15 #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 0;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
        padding: 20px;
    }
    #lenovo-v15 #introducao-e-formulario h5 {
        padding-top: 50px;
        font-size: 18px;
    }
    #lenovo-v15 #introducao-e-formulario h2 {
        font-size: 34px;
    }
    #lenovo-v15 #introducao-e-formulario p {
        font-family: "Gotham Book";
    }
    #lenovo-v15 #introducao-e-formulario h3 {
        font-family: "Gotham Book";
        font-size: 22px;
    }
    #lenovo-v15 #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}
#lenovo-v15 #textojur {
    background-color: #c4c4c4;
    text-align: center;
    padding: 38px 0;
}
#lenovo-v15 #textojur p {
    width: 916px;
    font-family: "Gotham Book";
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
@media screen and (max-width: 1100px) {
    #lenovo-v15 #textojur p {
        width: 90%;
        font-size: 10px;
        padding-bottom: 80px;
    }
}
#lenovo-v15 #introducao-e-formulario button {
    width: auto;
    height: 28px;
    margin: 0;
    padding: 2px 12px 2px 12px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-family: "Gotham Book";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#LblemailPermissionStatus {
    font-family: "GothamPro", sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
    text-align: justify;
    width: 100% !important;
    text-indent: 23px;
}
#lenovo-v15 #cta-formulario {
    width: 416px;
    height: 64px;
    font-family: "Gotham Book";
    background-color: #3c91cf;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}
.desktop {
    display: block;
}
.mobile {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block !important;
    }
}
.divbutton {
    display: block;
    width: 100%;
    margin: 34px 0;
}
.divbutton a {
    font-family: "Gotham Book";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 392px;
    padding: 20px 0;
    background-color: #3c91cf;
    text-transform: uppercase;
    display: block;
}

@media screen /*and (min-width: 480px) */ and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
.logolenovo {
    position: absolute;
    width: 40px;
    right: 0;
    top: 100px;
    z-index: 9;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-final {
    background: url("https://pages.lenovo.com/rs/183-WCT-620/images/thinkstation-p340-bg02.png")
        center center no-repeat;
    padding: 100px 0;
    text-align: center;
    background-size: cover;
}
#section-final h2 {
    font-family: "Gotham Book";
    font-size: 46px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 40px 0;
}
#section-final p {
    font-family: "Gotham Book";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 51px;
    width: 649px;
    margin: 0 auto;
}
#section-final .btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    margin: 0 auto;
}

/** ipad, surface e tablets **/
@media screen and (min-width: 766px) and (max-width: 1024px) {
    #lenovo-v15 #introducao-e-formulario p {
        width: 321px;
    }
    h2,
    h3 {
        font-size: 30px !important;
    }
    .divbutton a {
        width: 351px;
        display: none;
    }
    #section-final {
        padding: 80px 0;
    }
    #lenovo-v15 #introducao-e-formulario p {
        width: 461px;
    }
}

/**iphone, android, celulares e demais**/
@media screen and (max-width: 766px) {
    #introducao-e-formulario .container {
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(45deg, black, transparent);
    }
    #lenovo-v15 #introducao-e-formulario p {
        width: 100%;
    }
    .logolenovo {
        width: 35px;
        top: 60px;
    }
    #lenovo-v15 #introducao-e-formulario .introducao {
        zoom: 1;
    }
    h2 {
        font-size: 22px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    p {
        font-size: 16px !important;
    }
    #section-final {
        padding: 40px 0;
    }
    .divbutton a {
        font-size: 16px;
        width: 100%;
        display: block;
        height: auto;
        padding: 12px 0px;
        display: none;
    }
    .divbutton {
        display: none;
    }
    #section-final p {
        width: 100%;
    }
    #lenovo-v15 #textojur p {
        width: 90%;
        font-size: 10px !important;
    }
    #lenovo-v15 #introducao-e-formulario h3 {
        font-size: 13px !important;
    }
    #lenovo-v15 #introducao-e-formulario h2 {
        font-size: 29px !important;
        letter-spacing: -2px;
        margin: 20px 0;
    }
    #lenovo-v15 #introducao-e-formulario h2 br {
        display: none;
    }
    #lenovo-v15 #introducao-e-formulario .two {
        font-size: 21px !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1550px) {
    .container {
        width: 1024px;
        margin: 0 auto;
    }
}

#section02 {
    background: url(https://pages.lenovo.com/rs/183-WCT-620/images/thinkstation-p340-bg02.png)
        center center no-repeat;
}
#section02 .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#section02 h2 {
    font-family: "Gotham Bold";
    font-size: 5vh;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
#section02 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 20px 0;
}
#section02 .btn {
    background-color: transparent;
    border: 2px solid #ffffff;
}
#section02 .img {
    margin-bottom: -40px;
}
#section03 {
    padding: 120px 0;
}
#section03 .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#section03 h2 {
    font-family: "Gotham Bold";
    font-size: 5vh;
    font-weight: 500;
    max-width: 15ch;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #3c91cf;
}
#section03 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin: 20px 0;
}
#section03 img {
    padding-right: 20px;
}
#section04 {
    background: url("https://pages.lenovo.com/rs/183-WCT-620/images/thinkstation-p340-bg03.png")
        center center no-repeat;
    padding: 100px 0;
    text-align: center;
    background-size: cover;
}
#section04 h2 {
    font-family: "Gotham Book";
    font-size: 5vh;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}
#section04 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 51px;
    width: 649px;
    margin: 0 auto;
}
#section04 .btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    margin: 0 auto;
}
#section05 {
    padding: 120px 0;
}
#section05 .items {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
#section05 h2 {
    font-family: "Gotham Bold";
    font-size: 5vh;
    font-weight: 500;
    max-width: 15ch;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #3c91cf;
}
#section05 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin: 20px 0;
}
#section05 .img {
    margin-top: -160px;
}
#section06 {
    background: #efefef;
    padding: 0 0 120px 0;
}
#section06 .items {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
#section06 h2 {
    font-family: "Gotham Bold";
    font-size: 5vh;
    font-weight: 500;
    max-width: 15ch;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #3c91cf;
    padding-top: 100px;
}
#section06 p {
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin: 20px 0;
}
#section06 img {
    padding-right: 20px;
}
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section02 .items,
    #section03 .items,
    #section05 .items,
    #section06 .items {
        grid-template-columns: 50% 50%;
    }
    #section02,
    #section03,
    #section04,
    #section05,
    #section06,
    #section-final {
        padding: 60px 0;
        background-size: cover;
    }
    #section06 h2 {
        padding: 0;
    }
}
@media screen and (max-width: 767px) {
    #section02 .items,
    #section03 .items,
    #section05 .items,
    #section06 .items {
        grid-template-columns: 100%;
    }
    #section02,
    #section03,
    #section04,
    #section05,
    #section06,
    #section-final {
        padding: 40px 0;
        background-size: cover;
    }
    h2 br {
        display: none !important;
    }
    #section06 h2 {
        padding: 0;
    }
    #section05 .img {
        margin-top: 0;
    }
    #section04 p,
    #section04 h2,
    #section-final p,
    #section-final h2 {
        text-align: left;
    }
    #section06 img {
        padding-right: 20px;
        margin-top: -59px;
    }
    p {
        max-width: 100% !important;
    }
}
