@font-face {
    font-family: "Gotham Bold";
    font-display: swap;
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Book";
    font-display: swap;
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Gotham Light";
    font-display: swap;
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff")
            format("woff"),
        /* chrome、firefox */
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light")
            format("svg"); /* iOS 4.1- */
}

/**formulário**/
#introducao-e-formulario .formulario {
    background: linear-gradient(to right, #feeff1, #f1eeee);
    padding: 45px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    zoom: 0.9;
    z-index: 3;
    position: relative;

    -webkit-animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
}
#introducao-e-formulario .formulario #close-form {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    display: none;
    margin: 5px 5px 5px 5px;

    img {
        margin-top: 0 !important;
    }
}

#introducao-e-formulario .formulario .mktoForm {
    width: 100% !important;
}
#introducao-e-formulario .formulario .mktoButtonRow,
#introducao-e-formulario .formulario .mktoFieldWrap,
#introducao-e-formulario .formulario .mktoFormCol,
#introducao-e-formulario .formulario .mktoFormRow {
    width: 100% !important;
}
#introducao-e-formulario .formulario .mktoFormCol {
    width: 47% !important;
}
#introducao-e-formulario .formulario .mktoFormCol {
    margin: 0 0 12px 0 !important;
}
#introducao-e-formulario .formulario .mktoFormCol:nth-child(even) {
    float: right !important;
}

#introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(1) {
    width: 100% !important;
}

#introducao-e-formulario
    .formulario
    .mktoFormRow:nth-child(8)
    .mktoFormCol:nth-child(2) {
    display: none;
}
#introducao-e-formulario .formulario .mktoGutter,
#introducao-e-formulario .formulario .mktoOffset {
    display: none !important;
}

#introducao-e-formulario .formulario .mktoAsterix {
    display: none;
    // font-size: 0.9rem;
    // position: absolute;
    // left: 5px;
    // top: 10px;

    // @media (min-width: 40em) {
    //     left: 2px;
    // }
}

#LblemailPermissionStatus > .mktoAsterix {
    display: none !important;
}

#introducao-e-formulario .formulario .mktoForm input[type="date"],
#introducao-e-formulario .formulario .mktoForm input[type="email"],
#introducao-e-formulario .formulario .mktoForm input[type="number"],
#introducao-e-formulario .formulario .mktoForm input[type="tel"],
#introducao-e-formulario .formulario .mktoForm input[type="text"],
#introducao-e-formulario .formulario .mktoForm input[type="url"],
#introducao-e-formulario .formulario .mktoForm select.mktoField,
#introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    width: 100% !important;
    height: 40px;
    border: solid 1px #c7c7c7;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    padding-left: 16px;
    font-weight: 500;
    line-height: 100%;
}

#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-webkit-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-webkit-input-placeholder {
    color: #3e8ddd;
}
.mktoForm div,
.mktoForm span,
.mktoForm label,
.mktoForm p {
    font-family: "Gotham Book";
}

#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField:-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField:-ms-input-placeholder {
    color: #000000;
}

#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="date"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="email"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="tel"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="text"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="url"]::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    select.mktoField::-ms-input-placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    textarea.mktoField::-ms-input-placeholder {
    color: #000000;
}

#introducao-e-formulario .formulario .mktoForm input[type="date"]::placeholder,
#introducao-e-formulario .formulario .mktoForm input[type="email"]::placeholder,
#introducao-e-formulario
    .formulario
    .mktoForm
    input[type="number"]::placeholder,
#introducao-e-formulario .formulario .mktoForm input[type="tel"]::placeholder,
#introducao-e-formulario .formulario .mktoForm input[type="text"]::placeholder,
#introducao-e-formulario .formulario .mktoForm input[type="url"]::placeholder,
#introducao-e-formulario .formulario .mktoForm select.mktoField::placeholder,
#introducao-e-formulario .formulario .mktoForm textarea.mktoField::placeholder {
    color: #000000;
}
#introducao-e-formulario .formulario .mktoForm select.mktoField {
    background: #ffffff
        url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg)
        top 50% right 16px no-repeat !important;
    -webkit-appearance: none !important;
}
#introducao-e-formulario .formulario .mktoForm textarea.mktoField {
    padding-top: 15px !important;
}
#introducao-e-formulario .formulario .mktoLabel {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
}
#introducao-e-formulario .formulario .mktoButtonWrap {
    width: 100% !important;
    margin: 0 !important;
}
#introducao-e-formulario .formulario .mktoButtonWrap .mktoButton {
    background: var(--red) !important;
    font-family: "Gotham Book", Helvetica, Arial, sans-serif;
    border: none;
    width: 100% !important;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    height: 64px;
    text-transform: uppercase;
    line-height: 2;
    margin: 2px !important;

    &:hover,
    &:focus {
        transition: all 200ms ease;
        filter: brightness(1.2);
    }
}
@media screen and (max-width: 1570px) {
    #introducao-e-formulario .formulario {
        zoom: 0.9;
    }
}
@media screen and (max-width: 1370px) {
    #introducao-e-formulario .formulario {
        zoom: 0.83;
    }
}
@media screen and (max-width: 1100px) {
    #introducao-e-formulario .formulario .mktoLabel {
        word-wrap: break-word !important;
        white-space: pre-line;
        width: 100% !important;
    }
    #introducao-e-formulario .formulario {
        width: 89%;
        max-height: 1342px;
        padding: 30px 20px 30px 20px;
        zoom: 1;
        top: 0;
        left: 0;
        z-index: 99999;
        margin: 0 !important;
    }
    #introducao-e-formulario .formulario #close-form {
        display: block;
    }
    #introducao-e-formulario .formulario .chamada {
        margin-bottom: 30px;
    }

    #introducao-e-formulario .formulario .mktoFormCol {
        width: 100% !important;
    }
    #introducao-e-formulario .formulario .mktoFormCol {
        margin: 0 0 22px 0 !important;
    }

    #introducao-e-formulario .formulario .mktoFormCol:nth-child(even) {
        float: left !important;
    }
}

@media screen and (max-width: 1100px) {
    #introducao-e-formulario .formulario {
        display: none;
    }
}
#cta-formulario-mobile {
    font-family: "Gotham Bold";
    width: 100%;
    font-size: 20px;

    text-transform: uppercase;
    text-align: center;
    padding: 1.1rem 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px) {
    #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 90% !important;
    }
    .btn-form {
        display: none;
    }
    #cta-formulario-mobile {
        display: block;
    }
    #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 0;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
    }
}

#introducao-e-formulario button {
    width: auto;
    height: 28px;
    margin: 0;
    padding: 2px 12px 2px 12px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-family: "Gotham Book";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#LblemailPermissionStatus {
    font-family: "GothamPro", sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.29px;
    font-size: 12px;
    text-align: justify;
    width: 100% !important;
    text-indent: 23px;
}
#cta-formulario {
    width: 100%;
    height: 64px;
    font-family: "Gotham Book";
    background-color: #3e8ddd;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}

#LblemailPermissionStatus ~ .mktoError {
    left: 0;
}

.formulario {
    h2 {
        color: var(--black);
        text-align: center;
        margin-inline: auto;
        font-size: 1.5rem !important;
        line-height: 1.2;
        padding: 2rem 1rem 0 1rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
        text-transform: none;

        @media (min-width: 45em) {
            font-size: 1.25rem;
        }

        @media (min-width: 1100px) {
            padding: 0;
        }
    }

    p a {
        &:hover,
        &:focus {
            background-color: var(--red);
            color: var(--white);
            padding: 0.15rem 0.25rem;
            font-weight: 700;
            transition: all 200ms ease;
            filter: brightness(1.1);
        }
    }

    p {
        color: var(--black);
        font-size: 1rem;
        padding: 0.5rem 1rem;
        max-width: 50ch;
        margin-inline: auto;
        text-align: center;
    }
}
