html, body{
    margin: 0;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#lenovo-v50 a:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: .3s;
}
section{
    scroll-behavior: smooth;
}
#lenovo-v50 a{
    transition-duration: .3s;
}
@font-face {font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: 'Gotham Light';
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light") format("svg"); /* iOS 4.1- */
}

    /* Reset */
    
/**formulário**/
#lenovo-v50 #introducao-e-formulario .formulario{
    background:#ffffff;
    height:auto;
    width: 520px;
    margin-right: 160px;
    float:right;
    padding:45px;
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    zoom: 0.9;
}
#lenovo-v50 #introducao-e-formulario .formulario #close-form{
    background:#fff;
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    padding:10px;
    display:none
}
#lenovo-v50 #introducao-e-formulario .formulario .chamada{
    text-align:center;
    margin-bottom:5px;
}
#lenovo-v50 #introducao-e-formulario .formulario .chamada h2{
    font-family: 'Gotham Bold';
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 0 20px 0;
    line-height: 1.5;
    text-align: center;
}

#lenovo-v50 #introducao-e-formulario .formulario .chamada a{
    background: #66C14F;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}
#lenovo-v50 #introducao-e-formulario .formulario .chamada p{
    color:#000;
    font-size:18px;
    line-height:1.6;
    font-weight:300;
    margin:0;
    padding-bottom: 20px!important;
}
#lenovo-v50 #introducao-e-formulario .formulario .chamada p strong{
    font-weight:500
}
#lenovo-v50 #introducao-e-formulario .formulario .chamada p a{
    background:#66C14F;
    color:#fff;
    display:inline-block;
    padding:1px 5px 0 5px;
    font-weight:500
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm{
    width:100%!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoButtonRow,#lenovo-v50 #introducao-e-formulario .formulario .mktoFieldWrap,#lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol,#lenovo-v50 #introducao-e-formulario .formulario .mktoFormRow{
    width:100%!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol{
    width:47%!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol{
    margin:0 0 12px 0!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
    float:right!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(1){
    width:100%!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(2){
    display:none
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoAsterix,#lenovo-v50 #introducao-e-formulario .formulario .mktoGutter,#lenovo-v50 #introducao-e-formulario .formulario .mktoOffset{
    display:none!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=date],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=email],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=number],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=tel],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=text],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=url],#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    width:100%!important;
    height:40px;
    border:solid 1px #c7c7c7;
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000000;
    font-size:14px;
    padding-left:16px;
    font-weight:500;
    line-height:100%
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=date]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=email]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=number]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=tel]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=text]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=url]::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField::-webkit-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-webkit-input-placeholder{
    color:#66C14F
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=date]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=email]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=number]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=tel]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=text]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=url]:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField:-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField:-ms-input-placeholder{
    color:#000000
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=date]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=email]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=number]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=tel]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=text]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=url]::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField::-ms-input-placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-ms-input-placeholder{
    color:#000000
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=date]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=email]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=number]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=tel]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=text]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm input[type=url]::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField::placeholder,#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField::placeholder{
    color:#000000
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm select.mktoField{
    background:#ffffff url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg) top 50% right 16px no-repeat!important;
    -webkit-appearance:none!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    padding-top:15px!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoLabel{
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000;
    line-height:1.5;
    letter-spacing:.29px;
    font-size:12px;
    max-width: 100%;
    padding-left: 20px;
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoButtonWrap{
    width:100%!important;
    margin:0!important
}
#lenovo-v50 #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton{
    background:#66C14F;
    font-family:Lato,Helvetica,Arial,sans-serif;
    border:none;
    width:100%!important;
    font-size:20px;
    color:#fff;
    font-weight:900;
    text-align:center;
    height:64px;
    text-transform:uppercase;
    line-height:2;
    margin:2px!important
}
@media screen and (max-width:1570px){
    #lenovo-v50 #introducao-e-formulario .formulario{
        zoom:.9
    }
}
@media screen and (max-width:1370px){
    #lenovo-v50 #introducao-e-formulario .formulario{
        zoom:.83
    }
}
@media screen and (max-width:1100px){
    #lenovo-v50 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
    #lenovo-v50 #introducao-e-formulario .formulario .mktoLabel{
        word-wrap:break-word!important;
        white-space:pre-line;
        width:100%!important
    }
    #lenovo-v50 #introducao-e-formulario .formulario{
        width:89%;
        max-height:1342px;
        padding:30px 20px 30px 20px;
        zoom:1;
        top:0;
        left:0;
        z-index:99999;
        margin:0!important
    }
    #lenovo-v50 #introducao-e-formulario .formulario #close-form{
        display:block
    }
    #lenovo-v50 #introducao-e-formulario .formulario .chamada{
        margin-bottom: 30px; 
        padding: 30px 20px 0px 20px;
    }
    #lenovo-v50 #introducao-e-formulario .formulario .chamada br{
        display:none
    }
    #lenovo-v50 #introducao-e-formulario .formulario .chamada h2{
        font-size:22px;
        margin:0 0 20px 0
    }
    #lenovo-v50 #introducao-e-formulario .formulario .chamada p{
        font-size:18px
    }
    #lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol{
        width:100%!important
    }
    #lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol{
        margin:0 0 22px 0!important
    }
    #lenovo-v50 #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
        float:left!important
    }
}
.container{
    width: 1224px;
    margin: 0 auto;
}
.bg_video{
	width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#lenovo-v50 .logofix{
    position: fixed;
    right:0;
    top: 80px;
    width: 50px!important;
    z-index: 9;
}
#lenovo-v50 #introducao-e-formulario {
    background: url("https://pages.lenovo.com/rs/183-WCT-620/images/v50-bg01.jpg") center center no-repeat;
    background-size:cover;
    width: 100%;
    padding: 80px 0;
    height: auto;
    display: flex;
    align-items: center;
}
#lenovo-v50 #introducao-e-formulario .introducao{
    width: 34%;
    float: left;
}
#lenovo-v50 #introducao-e-formulario .introducao h2{
    font-family: 'Gotham Bold';
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 50px;
}
#lenovo-v50 #introducao-e-formulario strong{
    color: #66C14F;
}
#lenovo-v50 #introducao-e-formulario b{
    font-family: 'Gotham Bold';
}
#lenovo-v50 #introducao-e-formulario h3{
    font-family: 'Gotham Book';
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 32px;
}
#lenovo-v50 #introducao-e-formulario p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 30px;
}
#lenovo-v50 #introducao-e-formulario .chamada p {
    text-align: center;
}
#lenovo-v50 a {
    text-decoration: none;
}

#lenovo-v50 #introducao-e-formulario h5{
    font-family: 'Gotham Bold', sans-serif;
    font-size: 29px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 10px;
}
@media screen and (max-width:1600px){
    #lenovo-v50 #introducao-e-formulario .introducao {
        zoom: 0.8;
    }
    #lenovo-v50 #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width:1000px){
    #lenovo-v50 #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 30px;
    }
    #lenovo-v50 #introducao-e-formulario {
        padding: 0;
    }
    #lenovo-v50 #introducao-e-formulario img {
        max-width: 83%;
    }
}
.button-desk{
    display: block;
}
@media screen and (max-width: 1100px){
    #lenovo-v50 img{
        max-width: 100%;
    }
    #lenovo-v50 #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #lenovo-v50 #introducao-e-formulario .formulario {
        display: none;
    }

    .button-desk{
        display: none!important;
    }
}
#cta-formulario-mobile {
    background: #66C14F;
    font-family: 'Gotham Bold';
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px){
    #lenovo-v50 #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 90%!important;
    }
    .btn-form{
        display:none;
    }
    #cta-formulario-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #lenovo-v50 #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 0;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
    }
    #lenovo-v50 #introducao-e-formulario h5 {
        padding-top: 50px;
        font-size: 18px;
    }
    #lenovo-v50 #introducao-e-formulario h2 {
        font-size: 34px;
    }
    #lenovo-v50 #introducao-e-formulario p {
        font-family: 'Gotham Book';
        font-size: 14px;
    }   
    #lenovo-v50 #introducao-e-formulario h3 {
        font-family: 'Gotham Book';
        font-size: 22px;
    }
    #lenovo-v50 #introducao-e-formulario {
        background: url(https://pages.lenovo.com/rs/183-WCT-620/images/v50-bgmobile.jpg) center center no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}
#lenovo-v50 #textojur{
    background-color: #c4c4c4;
    text-align: center;
    padding: 38px 0;
}
#lenovo-v50 #textojur p{
    width: 916px;
    font-family: 'Gotham Book';
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
@media screen and (max-width:1100px){
    #lenovo-v50 #textojur p {
        width: 90%;
        font-size: 10px;
        padding-bottom: 80px;
    }
}
#lenovo-v50 #introducao-e-formulario button{
    width: 122px;
    height: 28px;
    background-color: #66c14f;
    font-family: 'Gotham Book';
    font-size: 14px;
    border:none;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#Lbllvo_isoptinemailsent {
    font-family: 'GothamPro',sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: .29px;
    font-size: 12px;
    text-align: justify;
    width: 100%!important;
    text-indent: 23px;
}
@media screen and (max-width:1100px){
    #Lbllvo_isoptinemailsent {
        width: 100%!important;
    }
}
#lenovo-v50 #section2 h2,#lenovo-v50 #section3 h2{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
#lenovo-v50 #section2 p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top:40px;
    padding-bottom:30px;
    width: 440px;
}
#lenovo-v50 #section2 ul{
    list-style: none;
    padding: 0;
}
#lenovo-v50 #section2 li{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: flex;
    align-items: center;
    padding-bottom:10px;
}
#lenovo-v50 #section2 li img{
    padding-right: 20px;
    padding-bottom: 10px;
}
#lenovo-v50 #section2 .col1,#lenovo-v50 #section3 .col1,#lenovo-v50 #section4 .col1{
    width: 50%;
    float:left;
}
#lenovo-v50 #section2 .col2,#lenovo-v50 #section3 .col2,#lenovo-v50 #section4 .col2{
    width: 50%;
    float:left;
}
#lenovo-v50 #section2,#lenovo-v50 #section3{
    height: auto;
    padding: 149px 0;
    display: flex;
}

#lenovo-v50 #cta-formulario{
    width: 416px;
    height: 64px;
    font-family: 'Gotham Book';
    background-color: #3e8ddd;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}
#lenovo-v50 #section2 .container,#lenovo-v50 #section3 .container{
    width: 1064px;
}
#lenovo-v50 #section3 p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 440px;
}
#lenovo-v50 #section3 h2 {
    padding-bottom: 40px;
}
#lenovo-v50 #section3 {
    height: auto;
    padding: 149px 0 0 0;
    display: flex;
}
#lenovo-v50 #section3 img{
    position: relative;
    bottom: -4px;
}
#lenovo-v50 #section4 .my-20{
    padding: 20px 0px!important;
    font-weight: bold;
}
#lenovo-v50 #section4{
    background: #000000 url(https://pages.lenovo.com/rs/183-WCT-620/images/v50-bg02.jpg) left center no-repeat;
    height: auto;
    padding: 100px 0;
    display: flex;
    background-size: 50%;
}
#lenovo-v50 #section4 .container{
    align-items: center;
    display: flex;
}
#lenovo-v50 #section4 p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#lenovo-v50 #section4 strong{
    color: #66c14f;
}
#lenovo-v50 #section4 h2{
    font-family: 'Gotham Book';
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; 
}
#lenovo-v50 #section4 .col2{
    width: 40%;
    padding-left: 100px;
}
#section4 > div > div.col2 > p:nth-child(1){
    padding-bottom:20px;
}
#lenovo-v50 #section4 #cta-formulario{
    background-color: #66c14f;
}
#lenovo-v50 #section5{
    height: auto;
    padding: 135px 0;
    display: flex;
    text-align:center;
}
#lenovo-v50 #section5 h2{
    font-family: 'Gotham Book';
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
#lenovo-v50 #section5 p{
    font-family: 'Gotham Book';
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 45px 0;
    margin: 0 auto;
}
#lenovo-v50 #section5 a{
    margin: 0 auto;
}
.desktop{
    display:block;
}
.mobile{
    display:none;
}
@media screen and (max-width:1100px){
    #lenovo-v50 #section4 .container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .desktop{
        display:none;
    }
    .mobile{
        display:block;
    }
    #lenovo-v50 #section2 .col1, #lenovo-v50 #section3 .col1, #lenovo-v50 #section4 .col1 {
        width: 100%;
    }
    #lenovo-v50 #section2 .col2, #lenovo-v50 #section3 .col2, #lenovo-v50 #section4 .col2 {
        width: 100%;
    }
    #lenovo-v50 #section2 p,#lenovo-v50 #section3 p {
        width: 100%;
    }
    #lenovo-v50 #section2 .container, #lenovo-v50 #section3 .container {
        width: 100%;
        padding:20px;
    }
    #lenovo-v50 #cta-formulario {
        width: 100%;
    }
    #lenovo-v50 #section2 h2, #lenovo-v50 #section3 h2 {
        font-size: 20px;
        text-align: center;
    }
    #lenovo-v50 #section2 p {
        font-size: 14px;
        text-align: center;
    }
    #lenovo-v50 #section2 li {
        font-size: 14px;
    }
    #lenovo-v50 #section2 img{
        margin: 0 auto;
        width: 50%;
        padding-bottom: 40px;
    }
    #lenovo-v50 #section2 li img {
        width: 55px;
        margin: 0;
    }
    #lenovo-v50 #section3 {
        text-align: center;
    }
    #lenovo-v50 #section3 p {
        text-align: center;
        font-size: 14px;
    }
    #lenovo-v50 #section5 p {
        font-size: 14px;
    }
    #lenovo-v50 #section2, #lenovo-v50 #section3 {
        height: auto;
        padding: 40px 0;
        display: flex;
    }
    #lenovo-v50 #section3 img {
        margin: 0 auto;
        width: 41%;
        margin-top: 60px;
        margin-bottom: -60px;
    }
    #lenovo-v50 #section4 h2 {
        font-size: 20px;
        text-align: center;
        padding-top: 23px;
        padding-bottom: 80px;
    }
    #lenovo-v50 #section4 .col2 {
        padding: 20px 0;
    }
    #lenovo-v50 #section4 p {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
    #lenovo-v50 #section4 {
        background: #000000 url(https://pages.lenovo.com/rs/183-WCT-620/images/v50-bg2mobile.jpg) top center no-repeat;
        padding: 40px;
        background-size: 100%;
    }
    #lenovo-v50 #section5 {
        height: auto;
        padding: 135px 0;
        display: flex;
        text-align: center;
        padding: 40px 20px;
    }
    #lenovo-v50 #section5 h2 {
        font-size: 20px;
    }
    #lenovo-v50 #section5 h2 {
        font-size: 20px;
    }
}