html, body{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#lenovo-amd a:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: .3s;
}
img{
    max-width:100%;
}
section{
    scroll-behavior: smooth;
}
#lenovo-amd a{
    transition-duration: .3s;
}
b{
    font-family: 'Gotham Bold';
}
@font-face {font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: 'Gotham Light';
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light") format("svg"); /* iOS 4.1- */
}

    /* Reset */
    
/**formulário**/
#lenovo-amd #introducao-e-formulario .formulario{
    background:#ffffff;
    height:auto;
    width: 434px;
    float:right;
    padding:45px;
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    zoom: 0.9;
    z-index: 3;
    position: relative;
}
#lenovo-amd #introducao-e-formulario .formulario #close-form{
    background:#fff;
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    padding:10px;
    display:none
}
#lenovo-amd #introducao-e-formulario .formulario .chamada{
    text-align:center;
    margin-bottom:5px;
}
#lenovo-amd #introducao-e-formulario .formulario .chamada h2{
    color:#000;
    font-size:32px;
    font-weight:900;
    line-height:1.25;
    margin:0 0 20px 0
}
#lenovo-amd #introducao-e-formulario .formulario .chamada p{
    color:#000;
    font-size:17px;
    line-height:1.6;
    font-weight:300;
    margin:0;
    padding-bottom: 20px!important;
}
#lenovo-amd #introducao-e-formulario .formulario .chamada p strong{
    font-weight:500
}
#lenovo-amd #introducao-e-formulario .formulario .chamada p a{
    background:#3E8DDD;
    color:#fff;
    display:inline-block;
    padding:1px 5px 0 5px;
    font-weight:500
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm{
    width:100%!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoButtonRow,#lenovo-amd #introducao-e-formulario .formulario .mktoFieldWrap,#lenovo-amd #introducao-e-formulario .formulario .mktoFormCol,#lenovo-amd #introducao-e-formulario .formulario .mktoFormRow{
    width:100%!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoFormCol{
    width:100%!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoFormCol{
    margin:0 0 12px 0!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
    float:right!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(1){
    width:100%!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(2){
    display:none
}
#lenovo-amd #introducao-e-formulario .formulario .mktoAsterix,#lenovo-amd #introducao-e-formulario .formulario .mktoGutter,#lenovo-amd #introducao-e-formulario .formulario .mktoOffset{
    display:none!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=date],#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=email],#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=number],#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=tel],#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=text],#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=url],#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField,#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    width:100%!important;
    height:40px;
    border:solid 1px #c7c7c7;
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000000;
    font-size:14px;
    padding-left:16px;
    font-weight:500;
    line-height:100%
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=date]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=email]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=number]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=tel]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=text]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=url]::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField::-webkit-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-webkit-input-placeholder{
    color:#3E8DDD
}
.mktoForm div, .mktoForm span, .mktoForm label, .mktoForm p {
    font-family: 'Gotham Book';
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=date]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=email]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=number]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=tel]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=text]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=url]:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField:-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField:-ms-input-placeholder{
    color:#000000
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=date]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=email]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=number]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=tel]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=text]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=url]::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField::-ms-input-placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-ms-input-placeholder{
    color:#000000
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=date]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=email]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=number]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=tel]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=text]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm input[type=url]::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField::placeholder,#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField::placeholder{
    color:#000000
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm select.mktoField{
    background:#ffffff url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg) top 50% right 16px no-repeat!important;
    -webkit-appearance:none!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    padding-top:15px!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoLabel{
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000;
    line-height:1.5;
    letter-spacing:.29px;
    font-size:12px
}
#lenovo-amd #introducao-e-formulario .formulario .mktoButtonWrap{
    width:100%!important;
    margin:0!important
}
#lenovo-amd #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton{
    background:#FF651F;
    font-family:'Gotham Bold',Helvetica,Arial,sans-serif;
    border:none;
    width:100%!important;
    font-size:20px;
    color:#fff;
    font-weight:900;
    text-align:center;
    height:64px;
    text-transform:uppercase;
    line-height:2;
    margin:2px!important
}
@media screen and (min-width:1024px) and (max-width:1570px){
    #lenovo-amd #introducao-e-formulario .formulario{
        zoom:.9;
    }
}
@media screen and (max-width:1370px){
    #lenovo-amd #introducao-e-formulario .formulario{
        zoom:.83
    }
}
@media screen and (max-width:1100px){
    #lenovo-amd #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
    #lenovo-amd #introducao-e-formulario .formulario .mktoLabel{
        word-wrap:break-word!important;
        white-space:pre-line;
        width:100%!important
    }
    #lenovo-amd #introducao-e-formulario .formulario{
        width:89%;
        max-height:1342px;
        padding:30px 20px 30px 20px;
        zoom:1;
        top:0;
        left:0;
        z-index:99999;
        margin:0!important
    }
    #lenovo-amd #introducao-e-formulario .formulario #close-form{
        display:block
    }
    #lenovo-amd #introducao-e-formulario .formulario .chamada{
        margin-bottom:30px
    }
    #lenovo-amd #introducao-e-formulario .formulario .chamada h1{
        font-size:26px;
        margin:0 0 20px 0
    }
    #lenovo-amd #introducao-e-formulario .formulario .chamada p{
        font-size:18px
    }
    #lenovo-amd #introducao-e-formulario .formulario .mktoFormCol{
        width:100%!important
    }
    #lenovo-amd #introducao-e-formulario .formulario .mktoFormCol{
        margin:0 0 22px 0!important
    }
    #lenovo-amd #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
        float:left!important
    }
}
.container{
    width: 1224px;
    margin: 0 auto;
}
.bg_video{
	width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#lenovo-amd .logofix{
    position: fixed;
    right:0;
    top: 19%;
    width: 60px;
    z-index: 9;
}
#lenovo-amd #introducao-e-formulario {
    background: #000000 url("assets/lenovo-e-processadores-amd-bg1.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
    height: auto;
    display: flex;
    align-items: center;
}
#lenovo-amd #introducao-e-formulario .introducao{
    width: 39%;
    float: left;
}
#lenovo-amd #introducao-e-formulario .logoamd{
    padding-top: 44px;
}
#lenovo-amd #introducao-e-formulario h1{
    font-family: 'Gotham Bold';
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.25px;
    text-align: left;
    color: #ffffff;
    margin-bottom:20px;
}
@media screen and (min-width:1024px){
    #lenovo-amd #introducao-e-formulario h1{
        margin-top: 70px;
    }
}
#lenovo-amd #introducao-e-formulario h1 b{
    color: #FF651F;
}
#lenovo-amd #introducao-e-formulario .two{
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #ffffff;
    margin-bottom: 40px;
}
#lenovo-amd #introducao-e-formulario strong{
    font-family: 'Gotham Book';
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #3e8ddd;
    padding-bottom:56px;
    display: block;
}
#lenovo-amd #introducao-e-formulario b{
    font-family: 'Gotham Bold';
}
#lenovo-amd #introducao-e-formulario h2{
    font-family: 'Gotham Book';
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom:40px;
}
#lenovo-amd #introducao-e-formulario h3{
    font-family: 'Gotham Book';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom:16px;
}
#lenovo-amd #introducao-e-formulario p{
    font-family: 'Gotham Book';
    font-size: 33px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 40px;
    width: 449px;
}
#lenovo-amd #introducao-e-formulario .line{
    font-family: 'Gotham Bold';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 60px;
    border-left: solid 3px #FF651F;
    padding-left: 30px;
    margin-left: -30px;
}
#lenovo-amd #introducao-e-formulario .chamada p {
    text-align: center;
}
#lenovo-amd a {
    text-decoration: none;
}
#lenovo-amd #introducao-e-formulario h4{
    font-family: 'Gotham Book', sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom:16px;
}
#lenovo-amd #introducao-e-formulario h5{
    font-family: 'Gotham Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #2a3c46;
}
#lenovo-amd #introducao-e-formulario .win{
    padding-left: 40px;
}
@media screen and (max-width:1600px){
    /*#lenovo-amd #introducao-e-formulario .introducao {
        zoom: 0.9   ;
    }*/
    #lenovo-amd #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width:1000px){
    #lenovo-amd #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 30px;
    }
    #lenovo-amd #introducao-e-formulario {
        padding: 0;
    }
}
@media screen and (max-width: 1100px){
    #lenovo-amd img{
        max-width: 100%;
    }
    #lenovo-amd #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #lenovo-amd #introducao-e-formulario .formulario {
        display: none;
    }
}
#cta-formulario-mobile {
    background: #3E8DDD;
    font-family: 'Gotham Bold';
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px){
    .container{
        width:100%;
        padding:20px;
    }
    #lenovo-amd #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 90%!important;
    }
    .btn-form{
        display:none;
    }
    #cta-formulario-mobile {
        display: block;
    }
    #lenovo-amd #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 10px;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
        padding-top: 40px;
        box-sizing: border-box;
    }
    #lenovo-amd #introducao-e-formulario h5 {
        padding-top: 50px;
        font-size: 18px;
    }
    #lenovo-amd #introducao-e-formulario h2 {
        font-size: 34px;
    }
    #lenovo-amd #introducao-e-formulario p {
        font-family: 'Gotham Book';
    }   
    #lenovo-amd #introducao-e-formulario h3 {
        font-family: 'Gotham Book';
        font-size: 22px;
    }
    #lenovo-amd #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}
#lenovo-amd #textojur{
    background-color: #c4c4c4;
    text-align: center;
    padding: 38px 0;
}
#lenovo-amd #textojur p{
    width: 916px;
    font-family: 'Gotham Book';
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
@media screen and (max-width:1100px){
    #lenovo-amd #textojur p {
        width: 90%;
        font-size: 10px;
        padding-bottom: 80px;
    }
}
#lenovo-amd #introducao-e-formulario button{
    width: auto;
    height: 28px;
    margin: 0;
    padding: 2px 12px 2px 12px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-family: 'Gotham Book';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#LblemailPermissionStatus {
    font-family: 'GothamPro',sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: .29px;
    font-size: 12px;
    text-align: justify;
    width: 100%!important;
    text-indent: 23px;
}
#lenovo-amd #cta-formulario{
    width: 416px;
    height: 64px;
    font-family: 'Gotham Book';
    background-color: #3e8ddd;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}
.desktop{
    display:block;
}
.mobile{
    display:none!important;
}
@media screen and (max-width:1024px){
    .desktop{
        display:none;
    }
    .mobile{
        display:block!important;
    }
}
.divbutton{
    display: block;
    width: 100%;
    margin: 34px 0;
}
.divbutton a{
    font-family: 'Gotham Book';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #FF651F;
    width: 392px;
    padding: 20px 0;
    background-color: transparent;
    border: solid 2px #FF651F;
    text-transform: uppercase;
    display: block;
}

@media screen /*and (min-width:480px)*/ and (max-width:1024px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
}
.logolenovo{
    position: absolute;
    width: 40px;
    right: 0;
    top: 100px;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}




#section02{
    padding: 120px 0;
}
#section02 .col {
    display: grid;
    grid-template-columns: 60% 40%;
}
#section02 .col div:nth-child(1){
    padding-right: 80px;
}
#section02 h2,#section07 h2{
    font-family: 'Gotham Book';
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 28px;
}
#section02 p,#section04 p,#section06 p,#section07 p{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding-bottom: 28px;
}
#section02 li{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding-bottom: 8px;
}
#section02 li::before{
    content: url(assets/lenovo-e-processadores-amd-check.svg);
    position: relative;
    top: 3px;
    margin-right: 10px;
}
#section02 .divbutton a,#section03 .divbutton a,#section05 .divbutton a,#section06 .divbutton a,#section08 .divbutton a {
    color: #ffffff;
    background-color: #FF651F;
    border: solid 2px #FF651F;
}
#section03{
    background: url(assets/lenovo-e-processadores-amd-bg2.png) center center no-repeat;
    background-size: cover;
    padding: 120px 0;
}
#section03 h2,#section05 h2,#section08 h2{
    font-family: 'Gotham Bold';
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-bottom: 28px;
}
#section03 p,#section05 p,#section08 p{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-bottom: 28px;
}
#section03 span{
    font-family: 'Gotham Book';
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
#section03 .col,#section04 .col,#section05 .col{
    width: 50%;
}
#section04,#section07{
    padding: 120px 0;
    background-color: #f5f5f5;
}
#section04 h2,#section06 h2{
    font-family: 'Gotham Bold';
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding-bottom: 28px;
}
#section05{
    padding: 120px 0;
    background: url(assets/lenovo-e-processadores-amd-bg3.png) center center no-repeat;
    background-size: cover;
}
#section06{
    padding: 120px 0;
}
#section06 .col {
    display: grid;
    grid-template-columns: 60% 40%;
}
#section06 .col div:nth-child(1){
    padding-right: 80px;
}
#section06 span{
    font-family: 'Gotham Book';
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
#section07 .col{
    width: 70%;
}
#section08{
    background: url(assets/lenovo-e-processadores-amd-bg4.png) center center no-repeat;
    background-size: cover;
    padding: 120px 0;
}
#section08 .col{
    width: 50%;
}


/** backgrounds notebooks **/
@media screen and (min-width:1200px) and (max-width:1450px){
    
}

/** ipad, surface e tablets **/
@media screen and (min-width:766px) and (max-width:1024px){
    .logolenovo {
        position: absolute;
        width: 60px;
    }
    #lenovo-amd #introducao-e-formulario .introducao {
        width: 79%;
        float: left;
    }
    #lenovo-amd #introducao-e-formulario {
        background: #000000 url(assets/lenovo-e-processadores-amd-bg1.png) center center no-repeat;
        background-size: cover;
        padding: 120px 0;
    }
    #lenovo-amd #introducao-e-formulario p {
        width: 321px;
    }
    h2,h3{
        font-size:30px!important;
    }
    .divbutton a {
        width: 351px;
        display: none;
    }
    #lenovo-amd #introducao-e-formulario p {
        width: 461px;
    }
    #section02 .col,#section06 .col {
        grid-template-columns: 100%;
    }
    #section02 h2,#section06 h2{
        padding-top: 40px;
    }
    #section02, #section03, #section04, #section05, #section06, #section07, #section08{
        padding: 60px 0;
    }
    #section03 .col, #section04 .col, #section05 .col,#section07 .col, #section08 .col{
        width: 80%;
    }
}

/**iphone, android, celulares e demais**/
@media screen and (max-width:766px){
    #introducao-e-formulario .container {
        width: 100%;
        margin: 0 auto;
        /*background-image: linear-gradient(45deg, black, transparent);*/
    }
    #lenovo-amd #introducao-e-formulario {
        background: url(assets/lenovo-e-processadores-amd-bg1.png) center left no-repeat;
    }
    #lenovo-amd #introducao-e-formulario .logoamd {
        padding-top: 44px;
        max-width: 40%;
    }
    #lenovo-amd #introducao-e-formulario p {
        width: 100%;
    }
    .logolenovo {
        width: 35px;
        top: 60px;
    }
    #lenovo-amd #introducao-e-formulario .introducao {
        zoom: 1;
    }
    h2{
        font-size: 22px!important;
    }
    h3{
        font-size: 18px!important;
    }
    p {
        font-size: 16px!important;
    }
    .divbutton a {
        font-size: 16px;
        width: 100%;
        display: block;
        height: auto;
        padding: 12px 0px;
        display: none;
    }
    .divbutton {
        display: none;
    }
    #lenovo-amd #textojur p {
        width: 90%;
        font-size: 10px!important;
    }
    #lenovo-amd #introducao-e-formulario h2 {
        font-size: 13px!important;
    }
    #lenovo-amd #introducao-e-formulario h1 {
        font-size: 29px!important;
        margin: 20px 0;
    }
    #lenovo-amd #introducao-e-formulario h1 br{
        display:none;
    }
    #lenovo-amd #introducao-e-formulario .two {
        font-size: 21px!important;
    }
    #section02 .col,#section06 .col {
        grid-template-columns: 100%;
    }
    #section02 .col div:nth-child(1) ,#section06 .col div:nth-child(1){
        padding-right: 0;
    }
    #section02 h2,#section06 h2{
        padding-top: 40px;
    }
    #section02, #section03, #section04, #section05, #section06, #section07, #section08{
        padding: 40px 0;
    }
    #section03 .col, #section04 .col, #section05 .col,#section07 .col, #section08 .col{
        width: 100%;
    }
}