html, body{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    margin: 0;
}
.clearfix {
    overflow: auto;
    display: contents;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#chromebook-100e-300e a:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition-duration: .3s;
}
img{
    max-width:100%;
}
section{
    scroll-behavior: smooth;
}
#chromebook-100e-300e a{
    transition-duration: .3s;
}
b{
    font-family: 'Gotham Bold';
}
@font-face {font-family: "Gotham Bold";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Book";
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: 'Gotham Light';
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
    src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff2") format("woff2"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff") format("woff"), /* chrome、firefox */
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light") format("svg"); /* iOS 4.1- */
}

    /* Reset */

/**formulário**/
#chromebook-100e-300e #introducao-e-formulario .formulario{
    background:#ffffff;
    height:auto;
    width: 520px;
    float:right;
    padding:45px;
    -webkit-box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    box-shadow:0 8px 16px 0 rgba(0,0,0,.16);
    zoom: 0.9;
    z-index: 3;
    position: relative;
}
#chromebook-100e-300e #introducao-e-formulario .formulario #close-form{
    background:#fff;
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    padding:10px;
    display:none
}
#chromebook-100e-300e #introducao-e-formulario .formulario .chamada{
    text-align:center;
    margin-bottom:5px;
}
#chromebook-100e-300e #introducao-e-formulario .formulario .chamada h2{
    color:#000;
    font-size:32px;
    font-weight:900;
    line-height:1.25;
    margin:0 0 20px 0
}
#chromebook-100e-300e #introducao-e-formulario .formulario .chamada p{
    color:#000;
    font-size:16px;
    line-height:1.6;
    font-weight:300;
    margin:0;
    padding-bottom: 20px!important;
}
#chromebook-100e-300e #introducao-e-formulario .formulario .chamada p strong{
    font-weight:500
}
#chromebook-100e-300e #introducao-e-formulario .formulario .chamada p a{
    background:#368EDE;
    color:#fff;
    display:inline-block;
    padding:1px 5px 0 5px;
    font-weight:500
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm{
    width:100%!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoButtonRow,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFieldWrap,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormRow{
    width:100%!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol{
    width:47%!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol{
    margin:0 0 12px 0!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
    float:right!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(1){
    width:100%!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(2){
    display:none
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoAsterix,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoGutter,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoOffset{
    display:none!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=date],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=email],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=number],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=tel],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=text],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=url],#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    width:100%!important;
    height:40px;
    border:solid 1px #c7c7c7;
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000000;
    font-size:14px;
    padding-left:16px;
    font-weight:500;
    line-height:100%
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=date]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=email]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=number]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=tel]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=text]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=url]::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField::-webkit-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-webkit-input-placeholder{
    color:#368EDE
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=date]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=email]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=number]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=tel]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=text]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=url]:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField:-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField:-ms-input-placeholder{
    color:#000000
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=date]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=email]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=number]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=tel]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=text]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=url]::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField::-ms-input-placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField::-ms-input-placeholder{
    color:#000000
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=date]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=email]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=number]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=tel]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=text]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm input[type=url]::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField::placeholder,#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField::placeholder{
    color:#000000
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm select.mktoField{
    background:#ffffff url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg) top 50% right 16px no-repeat!important;
    -webkit-appearance:none!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm textarea.mktoField{
    padding-top:15px!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoLabel{
    font-family:Lato,Helvetica,Arial,sans-serif;
    color:#000;
    line-height:1.5;
    letter-spacing:.29px;
    font-size:12px
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoButtonWrap{
    width:100%!important;
    margin:0!important
}
#chromebook-100e-300e #introducao-e-formulario .formulario .mktoButtonWrap .mktoButton{
    background:#368EDE;
    font-family:Lato,Helvetica,Arial,sans-serif;
    border:none;
    width:100%!important;
    font-size:20px;
    color:#fff;
    font-weight:900;
    text-align:center;
    height:64px;
    text-transform:uppercase;
    line-height:2;
    margin:2px!important
}
@media screen and (max-width:1570px){
    #chromebook-100e-300e #introducao-e-formulario .formulario{
        zoom:.9
    }
}
@media screen and (max-width:1370px){
    #chromebook-100e-300e #introducao-e-formulario .formulario{
        zoom:.83
    }
}
@media screen and (max-width:1100px){
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .mktoLabel{
        word-wrap:break-word!important;
        white-space:pre-line;
        width:100%!important
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario{
        width:89%;
        max-height:1342px;
        padding:30px 20px 30px 20px;
        zoom:1;
        top:0;
        left:0;
        z-index:99999;
        margin:0!important
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario #close-form{
        display:block
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada{
        margin-bottom:30px
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada br{
        display:none
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada h2{
        font-size:26px;
        margin:0 0 20px 0
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada p{
        font-size:18px
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol{
        width:100%!important
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol{
        margin:0 0 22px 0!important
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .mktoFormCol:nth-child(even){
        float:left!important
    }
}

.container{
    width: 1224px;
    margin: 0 auto;
}
.bg_video{
	width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#chromebook-100e-300e .logofix{
    position: fixed;
    right:0;
    top: 19%;
    width: 60px;
    z-index: 9;
}
#chromebook-100e-300e #introducao-e-formulario {
    background: #000000 url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg01.webp) center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    height: auto;
    display: flex;
    max-height: 915px;
    align-items: center;
}
#chromebook-100e-300e #introducao-e-formulario .introducao{
    width: 39%;
    float: left;
}
#chromebook-100e-300e #introducao-e-formulario .logowindows{
    padding-top: 44px;
}
#chromebook-100e-300e #introducao-e-formulario h1{
    font-family: 'Gotham Book';
    font-size: 49px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -2.45px;
    text-align: left;
    color: #fff;
    margin-bottom:20px;
}
#chromebook-100e-300e #introducao-e-formulario span{
    font-size: 10px;
}
#chromebook-100e-300e #introducao-e-formulario b{
    font-weight: 500;
    color: #66C14F;
}
#chromebook-100e-300e #introducao-e-formulario b,#chromebook-100e-300e #introducao-e-formulario strong{
    font-family: 'Gotham Bold';
}
#chromebook-100e-300e #introducao-e-formulario h2{
    font-family: 'Gotham Book';
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom:30px;
}
#chromebook-100e-300e #introducao-e-formulario p{
    font-family: 'Gotham Book';
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 40px;
}
#chromebook-100e-300e #introducao-e-formulario .line{
    font-family: 'Gotham Book';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 60px;
    border-left: solid 3px #3b8bdd;
    padding-left: 30px;
    margin-left: -30px;
}
#chromebook-100e-300e #introducao-e-formulario .chamada p {
    text-align: center;
}
#chromebook-100e-300e a {
    text-decoration: none;
}
#chromebook-100e-300e #introducao-e-formulario h4{
    font-family: 'Gotham Book', sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom:16px;
}
#chromebook-100e-300e #introducao-e-formulario h5{
    font-family: 'Gotham Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #2a3c46;
    margin-bottom:16px;
}
#chromebook-100e-300e #introducao-e-formulario .win{
    padding-left: 40px;
}
@media screen and (max-width:1600px){
    #chromebook-100e-300e #introducao-e-formulario .introducao {
        zoom: 0.9   ;
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .chamada p {
        padding: 0;
    }
}
@media screen and (max-width:1000px){
    #chromebook-100e-300e #introducao-e-formulario .introducao {
        width: 83%;
        padding-bottom: 40px;
        padding: 40px 20px;
    }
    #chromebook-100e-300e #introducao-e-formulario {
        padding: 0;
    }

    #chromebook-100e-300e #introducao-e-formulario .logowindows {
        padding-top: 24px;
    }
}
@media screen and (max-width: 1100px){
    #chromebook-100e-300e img{
        max-width: 100%;
    }
    #chromebook-100e-300e #introducao-e-formulario .introducao {
        margin-top: 0;
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario {
        display: none;
    }
}
#cta-formulario-mobile {
    background: #DE241B;
    font-family: 'Gotham Bold';
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    display: none;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
@media (max-width: 1100px){
    .container{
        width:100%;
        padding:20px;
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario .mktoForm {
        margin: 0 auto;
        width: 90%!important;
    }
    .btn-form{
        display:none;
    }
    #cta-formulario-mobile {
        display: block;
    }
    #chromebook-100e-300e #introducao-e-formulario .formulario {
        width: 100%;
        height: 100%;
        background: #fff;
        float: none;
        padding: 0;
        zoom: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        z-index: 99999;
        display: none;
    }
    #chromebook-100e-300e #introducao-e-formulario h5 {
        padding-top: 50px;
        font-size: 18px;
    }
    #chromebook-100e-300e #introducao-e-formulario h2 {
        font-size: 34px;
    }
    #chromebook-100e-300e #introducao-e-formulario p {
        font-family: 'Gotham Book';
    }
    #chromebook-100e-300e #introducao-e-formulario h3 {
        font-family: 'Gotham Book';
        font-size: 22px;
    }
    #chromebook-100e-300e #introducao-e-formulario {
        background-size: cover;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
}
#chromebook-100e-300e #textojur{
    background-color: #c4c4c4;
    text-align: center;
    padding: 38px 0;
}
#chromebook-100e-300e #textojur p{
    width: 916px;
    font-family: 'Gotham Book';
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
@media screen and (max-width:1100px){
    #chromebook-100e-300e #textojur p {
        width: 90%;
        font-size: 10px;
        padding-bottom: 80px;
    }
}
#chromebook-100e-300e #introducao-e-formulario button{
    width: auto;
    height: 28px;
    margin: 0;
    padding: 2px 12px 2px 12px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px #ffffff;
    font-family: 'Gotham Book';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mktoCheckboxList {
    position: absolute;
    left: 0;
    top: 2px;
}
#LblemailPermissionStatus {
    font-family: 'GothamPro',sans-serif;
    color: #000;
    line-height: 1.5;
    letter-spacing: .29px;
    font-size: 12px;
    text-align: justify;
    width: 100%!important;
    text-indent: 23px;
}
#chromebook-100e-300e #cta-formulario{
    width: 416px;
    height: 64px;
    font-family: 'Gotham Book';
    background-color: #3e8ddd;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    display: block;
    margin-top: 45px;
}
.desktop{
    display:block;
}
.mobile{
    display:none!important;
}
@media screen and (max-width:1024px){
    .desktop{
        display:none;
    }
    .mobile{
        display:block!important;
    }
}
.divbutton{
    display: block;
    width: 100%;
    margin: 34px 0;
}
.divbutton a{
    font-family: 'Gotham Book';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 316px;
    padding: 20px 0;
    background-color: #DE241B;
    text-transform: uppercase;
    display: block;
}

@media screen /*and (min-width:480px)*/ and (max-width:1024px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
}
.logolenovo{
    position: absolute;
    width: 40px;
    right: 0;
    top: 100px;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}

/**sections**/

#section02{
    padding: 80px 0;
    background: #F5F5F5;
    background-size: cover;
}
#section02 h2,#section03 h2,#section04 h2, #section05 h2,  #section06 h2, #section07 h2, #section08 h2{
    font-family: 'Gotham Book';
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #3E8DDD;
    padding-bottom: 30px;
}
#section02 h4,#section03 h4,#section04 h4{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    width: 656px;
    padding-bottom: 64px;
    margin: 0 auto;
}
#section02 h3, #section03 h3, #section04 h3, #section05 h3, #section08 h3{
    font-family: 'Gotham Bold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 16px 0;
}
#section02 p, #section03 p, #section04 p, #section05 p, #section06 p, #section06 p,  #section07 p, #section08 p{
    font-family: 'Gotham Book';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
#section02 .col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#section02 .centralize-itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#section02 .col-2{
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

#section02 .col-2 h3{
    font-family: 'Gotham Book';
    font-size: 16px;
    text-align: center;
}

#section02 .divbutton a{
    margin: 20px 0;
    margin: auto;
}

#section02 h4{
    padding-bottom: 40px;
}

#section03 .col, #section04 .col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#section03 .col-1, #section04 .col-2{
    padding: 120px 100px;
}
#section03 .col-2, #section04 .col-1{
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

#section03 h2{
    color: #66C14F;
}

#section03 h2, #section04 h2{
    font-size: 36px;
    text-align: left;
    padding-bottom: 20px;
}

#section03 h3, #section04 h3{
    padding: 0 0 30px;
}

#section03 p, #section04 p{
    font-size: 16px;
    font-weight: normal;
}

#section03 p span, #section04 p span{
    font-size: 10px;
    font-weight: bold;
}

#section03 .col-1 img{
    display: none;
}


#section05 .col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#section05 .col-1{
    background: #66C14F;
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}
#section05 .col-2{
    background: url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg05.webp) right top no-repeat;
    height: auto;
}
#section05 h2{
    font-family: 'Gotham Book';
    font-size: 30px;
    text-align: left;
    color: #fff;
    padding-bottom: 17px;
}
#section05 p{
    font-size: 16px;
    text-align: left;
    color: #fff;
}

#section05 h3{
    font-family: 'Gotham Book';
    font-size: 18px;
    text-align: left;
    color: #fff;
    padding-bottom: 40px;
}

#section06{
    padding: 80px 0;
}
#section06 img{
    position: absolute;
    right: 200px;
}

#section06 p, #section08 p{
    text-align: center;
}

#section06 h4{
    text-align: center;
    padding-bottom: 30px;
}

#section06 .divbutton a, #section07 .divbutton a, #section08 .divbutton a {
    margin: 0 auto;
}

#section07{
    background: url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg07.webp) center center no-repeat;
    background-size: cover;
    padding: 100px 0;
}


#section07 h2, #section07 p{
    text-align: center;
    color: #fff;
}

#section07 a{
    color: white;
    font-weight: bold;
}

#section08{
    padding: 80px 0;
    background: #F5F5F5;
}

#section08 h3{
    text-align: center;
    padding-bottom: 30px;
}


/** ipad, surface e tablets **/
@media screen and (min-width:766px) and (max-width:1024px){
    #chromebook-100e-300e #introducao-e-formulario .introducao {
        width: 79%;
        float: left;
    }
    #chromebook-100e-300e #introducao-e-formulario {
        background: #000000 url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg01.webp) center left -140px no-repeat;
        background-size: cover;
    }
    #chromebook-100e-300e #introducao-e-formulario p {
        width: 321px;
    }

    .divbutton a {
        width: 351px;
        display: none;
    }
    #consultor {
        padding: 80px 0;
    }
    #chromebook-100e-300e #introducao-e-formulario p {
        width: 461px;
    }

    #chromebook-100e-300e #introducao-e-formulario p br {
        display: none;
    }

    #section02 h2, #section03 h2, #section04 h2, #section05 h2, #section06 h2, #section07 h2 {
        font-size: 32px;
        color: #3E8DDD;
        padding-bottom: 30px;
    }

    #section02 h4, #section03 h4, #section04 h4 {
        padding-bottom: 34px;
    }

    #section02 .col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #section02 .centralize-itens {
        grid-template-columns: repeat(2, 1fr);
    }

    #section02 .col-2 h3 {
        font-size: 20px;
    }

    #section02 {
        padding: 60px 0;
    }

    #section03 .col, #section04 .col {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #section03 .col-1 {
        padding: 60px 80px 0 80px;
    }

    #section03 .col-1 img{
        padding: 84px 0;
        display: block;
    }

    #section03 .col-2 img{
        display: none;
    }

    #section03 .col-1, #section04 .col-2 {
        padding: 60px 80px 80px 80px;
    }

    #section03 p span, #section04 p span {
        font-size: 14px;
    }


    #section05 .col {
        grid-template-columns: repeat(1, 1fr);
    }

    #section05 .col-1{
        padding: 60px;
    }

    #section05 .col-2 {
        display: none;
    }

    #section05 h2 {
        color: #fff;
        padding-bottom: 20px;
    }

    #section05 h3 {
        padding-bottom: 30px;
    }

    .materialrico a {
        display: none;
    }

    #section06 .d-none{
        display: none;
    }

    #section06, #section07{
        padding: 60px 0;
    }

    #section07 h2{
        color: #fff;
    }
}

/**iphone, android, celulares e demais**/
@media screen and (max-width:766px){
    #introducao-e-formulario .container {
        width: 100%;
        margin: 0 auto;
    }
    #chromebook-100e-300e #introducao-e-formulario {
        background: url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg01.webp) center left no-repeat;
    }
    #chromebook-100e-300e #introducao-e-formulario .logowindows {
        padding-top: 44px;
        width: 100%;
    }
    #chromebook-100e-300e #introducao-e-formulario p {
        width: 100%;
    }
    .logolenovo {
        width: 35px;
        top: 60px;
    }
    #chromebook-100e-300e #introducao-e-formulario .introducao {
        zoom: 1;
    }
    h2{
        font-size: 22px!important;
    }
    h3{
        font-size: 18px!important;
    }
    p {
        font-size: 16px!important;
    }
    .divbutton a {
        font-size: 16px;
        width: 100%;
        display: block;
        height: auto;
        padding: 12px 0px;
        display: none;
    }
    .divbutton {
        display: none;
    }
    #chromebook-100e-300e #textojur p {
        width: 90%;
        font-size: 10px!important;
    }
    #chromebook-100e-300e #introducao-e-formulario h2 {
        font-size: 17px!important;
    }
    #chromebook-100e-300e #introducao-e-formulario h1 {
        font-size: 33px!important;
        margin: 20px 0;
    }
    #chromebook-100e-300e #introducao-e-formulario h1 br{
        display:none;
    }
    #chromebook-100e-300e #introducao-e-formulario .two {
        font-size: 21px!important;
    }
    #chromebook-100e-300e #introducao-e-formulario {
        background: url(https://pages.lenovo.com/rs/183-WCT-620/images/chromebook-100e-300e-bg01.webp) center left -300px no-repeat;
    }
    #section02 h4, #section03 h4, #section04 h4{
        width: 100%;
        padding-bottom: 0;
    }
    #section02,#section03,#section04,#section06{
        padding: 40px 0;
    }
    #section02 h2 br, #section03 h2 br, #section04 h2 br{
        display: none;
    }
    #section02 .col {
        grid-template-columns: repeat(1, 1fr);
    }

    #section02 .centralize-itens {
        grid-template-columns: repeat(1, 1fr);
    }

    #section03 .col, #section04 .col {
        grid-template-columns: repeat(1, 1fr);
    }

    #section03 .col-1 img{
        padding: 24px 0;
        display: block;
    }

    #section03 .col-2 img{
        display: none;
    }

    #section03 .col-1, #section04 .col-2 {
        padding: 0 40px;
    }

    #section03 p span, #section04 p span {
        font-size: 12px;
    }

    #section05 .col-1,#section05 .col-2{
        padding: 40px;
        height: auto;
    }
    .divbutton a {
        display: none;
    }

    #section05 .col {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #section05 .col-2 {
        display: none;
    } 
    #section06 img {
        position: absolute;
        right: 100px;
        width: 160px;
    }

    #section06 .d-none, #section07 .d-none{
        display: none;
    }

}
