@font-face {font-family: "Gotham Bold";
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff") format("woff"), /* chrome、firefox */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Book";
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff") format("woff"), /* chrome、firefox */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: 'Gotham Light';
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.woff") format("woff"), /* chrome、firefox */
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Light.svg#Gotham Light") format("svg"); /* iOS 4.1- */
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  overflow: scroll;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
b,
strong {
  font-family: "Gotham Bold";
}
#LblemailPermissionStatus {
  font-family: "Gotham Book", sans-serif;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.29px;
  font-size: 12px;
  text-align: justify;
  width: 100% !important;
  text-indent: 23px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
}
img {
  zoom: 0.9;
}
.clearfix {
  overflow: auto;
  display: contents;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#novalp a:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition-duration: 0.3s;
}
section {
  scroll-behavior: smooth;
}
#novalp a {
  transition-duration: 0.3s;
}
button {
  transition-duration: 0.3s;
}
button:hover {
  transition-duration: 0.3s;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.woff")
      format("woff"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Bold.svg#Gotham Book")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Gotham Book";
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff")
      format("woff"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Gotham Book";
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot"); /* IE9*/
  src: url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.woff")
      format("woff"),
    /* chrome、firefox */
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("https://pages.lenovo.com/rs/183-WCT-620/images/Gotham Book.svg#Gotham Book")
      format("svg"); /* iOS 4.1- */
}

/* Reset */

/**formulário**/
.formulario {
  background: #ffffffc4;
  height: auto;
  width: 470px;
  float: right;
  padding: 30px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  zoom: 0.9;
  position: fixed;
  z-index: 99;
  right: 140px;
  top: 12%;
}
#novalp .introducao-e-formulario .container {
  display: flex;
  align-items: center;
}
.formulario #close-form {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 10px;
  display: none;
}
.formulario .chamada {
  text-align: center;
  margin-bottom: 20px;
}
.formulario .chamada h2 {
  color: #000;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  margin: 0 0 20px 0;
}
.formulario .chamada p {
  font-family: "Gotham Book";
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
}
.formulario .chamada p strong {
  font-weight: 500;
}
.formulario .chamada p a {
  background: #d60018;
  color: #fff;
  display: inline-block;
  padding: 1px 5px 0 5px;
  font-weight: 500;
}
.formulario .mktoForm {
  width: 100% !important;
}
.formulario .mktoButtonRow,
.formulario .mktoFieldWrap,
.formulario .mktoFormCol,
.formulario .mktoFormRow {
  width: 100% !important;
}
.formulario .mktoFormCol {
  width: 47% !important;
  font-family: "Gotham Book";
}
.mktoForm div,
.mktoForm span,
.mktoForm label,
.mktoForm p {
  font-family: "Gotham Book";
}
.formulario .mktoFormCol {
  margin: 0 0 12px 0 !important;
}
.formulario .mktoFormCol:nth-child(even) {
  float: right !important;
}
.formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(1) {
  width: 100% !important;
}
.formulario .mktoFormRow:nth-child(8) .mktoFormCol:nth-child(2) {
  display: none;
}
.formulario .mktoAsterix,
.formulario .mktoGutter,
.formulario .mktoOffset {
  display: none !important;
}
.formulario .mktoForm input[type="date"],
.formulario .mktoForm input[type="email"],
.formulario .mktoForm input[type="number"],
.formulario .mktoForm input[type="tel"],
.formulario .mktoForm input[type="text"],
.formulario .mktoForm input[type="url"],
.formulario .mktoForm select.mktoField,
.formulario .mktoForm textarea.mktoField {
  width: 100% !important;
  height: 40px;
  border: solid 1px #c7c7c7;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  padding-left: 16px;
  font-weight: 500;
  line-height: 100%;
}
.formulario .mktoForm input[type="date"]::-webkit-input-placeholder,
.formulario .mktoForm input[type="email"]::-webkit-input-placeholder,
.formulario .mktoForm input[type="number"]::-webkit-input-placeholder,
.formulario .mktoForm input[type="tel"]::-webkit-input-placeholder,
.formulario .mktoForm input[type="text"]::-webkit-input-placeholder,
.formulario .mktoForm input[type="url"]::-webkit-input-placeholder,
.formulario .mktoForm select.mktoField::-webkit-input-placeholder,
.formulario .mktoForm textarea.mktoField::-webkit-input-placeholder {
  color: #d60018;
}
.formulario .mktoForm input[type="date"]:-ms-input-placeholder,
.formulario .mktoForm input[type="email"]:-ms-input-placeholder,
.formulario .mktoForm input[type="number"]:-ms-input-placeholder,
.formulario .mktoForm input[type="tel"]:-ms-input-placeholder,
.formulario .mktoForm input[type="text"]:-ms-input-placeholder,
.formulario .mktoForm input[type="url"]:-ms-input-placeholder,
.formulario .mktoForm select.mktoField:-ms-input-placeholder,
.formulario .mktoForm textarea.mktoField:-ms-input-placeholder {
  color: #000000;
}
.formulario .mktoForm input[type="date"]::-ms-input-placeholder,
.formulario .mktoForm input[type="email"]::-ms-input-placeholder,
.formulario .mktoForm input[type="number"]::-ms-input-placeholder,
.formulario .mktoForm input[type="tel"]::-ms-input-placeholder,
.formulario .mktoForm input[type="text"]::-ms-input-placeholder,
.formulario .mktoForm input[type="url"]::-ms-input-placeholder,
.formulario .mktoForm select.mktoField::-ms-input-placeholder,
.formulario .mktoForm textarea.mktoField::-ms-input-placeholder {
  color: #000000;
}
.formulario .mktoForm input[type="date"]::placeholder,
.formulario .mktoForm input[type="email"]::placeholder,
.formulario .mktoForm input[type="number"]::placeholder,
.formulario .mktoForm input[type="tel"]::placeholder,
.formulario .mktoForm input[type="text"]::placeholder,
.formulario .mktoForm input[type="url"]::placeholder,
.formulario .mktoForm select.mktoField::placeholder,
.formulario .mktoForm textarea.mktoField::placeholder {
  color: #000000;
}
.formulario .mktoForm select.mktoField {
  background: #ffffff
    url(https://pages.lenovo.com/rs/183-WCT-620/images/lpthinkmarketo_seta-select.svg)
    top 50% right 16px no-repeat !important;
  -webkit-appearance: none !important;
}
.formulario .mktoForm textarea.mktoField {
  padding-top: 15px !important;
}
.formulario .mktoLabel {
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.29px;
  font-size: 12px;
}
.formulario .mktoButtonWrap {
  width: 100% !important;
  margin: 0 !important;
}
.formulario .mktoButtonWrap .mktoButton {
  background: #d60018 !important;
  font-family: "Gotham Book" !important;
  border: none !important;
  width: 100% !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 900 !important;
  text-align: center !important;
  height: 64px !important;
  text-transform: uppercase !important;
  line-height: 2 !important;
  margin: 2px !important;
}
@media screen and (max-width: 1570px) {
  .formulario {
    zoom: 0.9;
  }
}
@media screen and (max-width: 1370px) {
  .formulario {
    zoom: 0.83;
  }
}
@media screen and (max-width: 1100px) {
  .formulario .mktoLabel {
    word-wrap: break-word !important;
    white-space: pre-line;
    width: 100% !important;
  }
  .formulario {
    width: 89%;
    max-height: 1342px;
    padding: 30px 20px 30px 20px;
    zoom: 1;
    top: 0;
    left: 0;
    z-index: 99999;
    margin: 0 !important;
  }
  .formulario #close-form {
    display: block;
  }
  .formulario .chamada {
    margin-bottom: 20px;
  }
  .formulario .chamada br {
    display: none;
  }
  .formulario .chamada h2 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
  .formulario .chamada p {
    font-size: 18px;
  }
  .formulario .mktoFormCol {
    width: 100% !important;
  }
  .formulario .mktoFormCol {
    margin: 0 0 22px 0 !important;
  }
  .formulario .mktoFormCol:nth-child(even) {
    float: left !important;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.bg_video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
.loading {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 999;
  position: fixed;
  background: #000000;
}
.loading img {
  width: 350px;
  margin: 0 auto;
}
#novalp .logofix {
  position: absolute;
  right: 0;
  top: 19%;
  width: 60px;
  z-index: 7;
}
#novalp .logofix2 {
  position: fixed;
  right: 0;
  top: 34%;
  width: 60px;
  z-index: 7;
  display: none;
}
#novalp .introducao-e-formulario {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, rgb(0 0 0 / 80%), transparent);
  display: flex;
  align-items: center;
}
#novalp .introducao-e-formulario .introducao {
  width: 33%;
  float: left;
}
.think {
  height: 90px;
}
#novalp .introducao-e-formulario h2 {
  font-family: "Gotham Book";
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 40px 0;
}
#novalp .introducao-e-formulario h3 {
  font-family: "Gotham Bold";
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 20px 0;
}
#novalp .introducao-e-formulario p {
  font-family: "Gotham Book";
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
#novalp .introducao-e-formulario .introducao p {
  padding-bottom: 20px;
}
#novalp .introducao-e-formulario strong {
  color: red;
}
#novalp .formulario .chamada p {
  text-align: center;
}
#novalp a {
  text-decoration: none;
}

#novalp .formulario h5 {
  font-family: "Gotham Bold", sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 10px;
}
@media screen and (max-width: 1366px) {
  #novalp .introducao-e-formulario p {
    font-size: 20px;
  }
  #novalp .introducao-e-formulario .introducao {
    margin-top: 0;
  }
  .formulario .chamada p {
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  #novalp .introducao-e-formulario .introducao {
    width: 83%;
    padding-bottom: 40px;
    padding: 30px;
  }
  #novalp .introducao-e-formulario {
    padding: 0;
  }
}
#novalp .section01 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(nova-lp-cotacao-bg01.png) center center no-repeat;
  display: flex;
  align-items: center;
  color: #ffffff;
}
#novalp .section01 .div01 {
  width: 50%;
}
#novalp .section01 h2 {
  font-family: "Gotham Book";
  font-size: 45px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -1.35px;
  text-align: left;
  color: #fff;
}
@media screen and (min-width: 1600px) {
  #novalp .section01 h2 {
    padding-top: 100px;
  }
}
#novalp .section01 p {
  font-family: "Gotham Book";
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  text-align: left;
  color: #fff;
  width: 40ch;
  padding: 40px 0;
}
#novalp .section01 h5 {
  font-family: "Gotham Book";
  opacity: 0.52;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-bottom: 30px;
}
#novalp .section01 #typed {
  color: #ff2d16;
}
#novalp .section02 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, black, transparent);
  display: flex;
  color: #ffffff;
}
#novalp .section02 .div01 {
  width: 50%;
}
#novalp .section02 h2 {
  font-family: "Gotham Book";
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  color: #fff;
  padding-top: 0;
  height: 150px;
}
@media screen and (min-width: 1600px) {
  #novalp .section02 h2 {
    padding-top: 100px;
  }
}
#novalp .section02 p {
  font-family: "Gotham Book";
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
#novalp .section02 h5 {
  font-family: "Gotham Book";
  opacity: 0.52;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-bottom: 30px;
}
#novalp .section02 #typed {
  color: #ff2d16;
}
#novalp .linhathink {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, black, transparent);
  display: flex;
  align-items: center;
  color: #ffffff;
}
#novalp .linhathink .div01 {
  width: 50%;
}
#novalp .linhathink h2 {
  font-family: "Gotham Book";
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
  text-align: left;
  color: #fff;
  padding: 60px 0 50px 0;
  max-width: 30ch;
}
#novalp .linhathink p {
  font-family: "Gotham Book";
  font-weight: normal;
  font-size: 17px;
  line-height: 40px;
  text-align: left;
  color: #fff;
  opacity: 0.52;
  padding-bottom: 50px;
}
#novalp .linhathink strong {
  color: #ff2d16;
  font-size: 31px;
}
#novalp .linhathink ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#novalp .linhathink li {
  margin: 0;
  padding: 0;
  font-family: "Gotham Book";
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
  height: 50px;
}
#novalp .linhathink li img {
  padding-right: 17px;
}
#novalp .linhathink button {
  width: 390px;
  height: 70px;
  background: #fa5115;
  font-family: "Gotham Bold";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: none;
  margin-top: 50px;
  color: #fff;
}
.section08 {
  width: 100%;
  height: 100vh !important;
  position: relative;
  background: url(nova-lp-cotacao-bg02.png) center center no-repeat;
  background-size: cover;
  display: flex !important;
  align-items: center;
  color: #ffffff;
}
.section08 h2 {
  font-family: "Gotham Book";
  font-size: 45px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.section08 p {
  font-family: "Gotham Book";
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.section08 .div01 {
  width: 50%;
}
.section08 ul {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.section08 img {
  padding-bottom: 20px;
}
.section08 li {
  padding: 20px 0;
}
.section09 {
  width: 100%;
  height: 100vh !important;
  position: relative;
  background: url(nova-lp-cotacao-bg03.png) center center no-repeat;
  background-size: cover;
  display: flex !important;
  align-items: center;
  color: #ffffff;
}
.section09 h2 {
  font-family: "Gotham Book";
  font-size: 45px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding-bottom: 40px;
  max-width: 17ch;
}
.section09 p {
  font-family: "Gotham Book";
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.section09 .div01 {
  width: 50%;
}
.section09 .red{
    color: #de241b;
}
@media screen and (max-width: 1600px) {
  #novalp .section02 h2 {
    font-size: 32px;
  }
  #novalp .section02 p {
    font-size: 16px;
    line-height: 28px;
  }
  .bg_video {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  #novalp .introducao-e-formulario .container,
  #novalp .section02 .container,
  #novalp .linhathink .container {
    zoom: 0.8;
  }
  #novalp .introducao-e-formulario,
  #novalp .section02,
  #novalp .linhathink {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  #novalp .logofix {
    top: 14%;
  }
  #novalp .logofix2 {
    top: 34%;
  }
}
@media screen and (max-width: 1100px) {
  .container{
      width:80%;
  }
  #novalp img {
    max-width: 100%;
  }
  #novalp .logofix {
    top: 24%;
    width: 40px;
  }
  #novalp .logofix2 {
    top: 24%;
    width: 40px;
  }
  #novalp .introducao-e-formulario .introducao {
    margin-top: 0;
  }
  .formulario {
    display: none;
  }
  #novalp .section02 .div01,#novalp .section01 .div01,
  #novalp .linhathink .div01,
  #novalp .section08 .div01,#novalp .section09 .div01 {
    width: 80%;
    float: left;
  }
  #novalp .section01 h2 {
    font-size: 26px;
    line-height: 30px;
  }
  #novalp .section01 p {
    font-family: "Gotham Book";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #fff;
    width: 100%;
  }
    #novalp .section01 h5 {
        font-family: "Gotham Book";
        opacity: 0.52;
        font-size: 10px;
    }
    #novalp .linhathink li {
        font-size: 16px;
    }
    #novalp .linhathink h2 {
        font-size: 23px;
        line-height: 31px;
    }
    .section08 ul {
        grid-template-columns: 100%;
        gap: 0-x;
    }
    .section08 img {
        max-width: 10%!important;
    }
    #novalp .section08 p {
        font-size: 10px!important;
    }
    #novalp .section08 li{
        padding: 10px 0;
    }
    #novalp .section09 h2 {
        font-size: 32px;
    }
  #novalp .section02 h2 {
    line-height: 33px;
    font-size: 20px;
    height: 150px;
    padding-top: 0;
    margin-top: -30px;
  }
  #novalp .section02 p,
  #novalp .linhathink p,
  #novalp .section08 p {
    font-size: 20px;
    line-height: 26px;
    max-width: 100%;
  }
  #novalp .section02 button,
  #novalp .linhathink button,
  #novalp .section08 button {
    width: 100%;
  }

  .bg_video {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
  #novalp .section04 {
    background: linear-gradient(45deg, black, transparent);
  }
  #novalp .section02,
  #novalp .linhathink {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}
#cta-formulario-mobile {
  background: #d60018;
  font-family: "Gotham Bold";
  width: 100%;
  height: 38px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 0 0;
  display: none;
  font-weight: 900;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;
}
@media (max-width: 1100px) {
  .btn-form {
    display: none;
  }
  #cta-formulario-mobile {
    display: block;
  }
  .formulario {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
    float: none;
    padding: 30px 20px 30px 20px;
    zoom: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 99999;
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  #novalp #textojur p {
    width: 90%;
    font-size: 10px;
    padding-bottom: 80px;
  }
}
.mktoCheckboxList {
  position: absolute;
  left: 0;
  top: 2px;
}
#Lbllvo_isoptinemailsent {
  font-family: "Gotham Book", sans-serif;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.29px;
  font-size: 12px;
  text-align: justify;
  width: 100% !important;
  text-indent: 23px;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
@media screen and (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #Lbllvo_isoptinemailsent {
    width: 100% !important;
  }
}
@media screen and (max-width: 1100px) {
  #novalp .trackpoint {
    margin-top: 70px;
    margin-left: -117.5px;
    zoom: 0.7;
    display: none;
  }
  .loading img {
    margin-top: -100px;
  }
}
.slick-dots {
    position: absolute;
    top: 37%;
    left: 15px;
    z-index: 10;
    width: 26px;
}
.slick-dots li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}
.slick-dots button {
  opacity: 0.4;
  background-color: #fff;
  margin: 10px 0;
  border: none;
  border-radius: 100px;
  padding: 6px;
  font-size: 0px;
  width: 6px;
  height: 6px;
  transition-duration: 0ms;
  cursor: pointer;
}
.slick-active button,
.slick-active2 button {
  margin: 0px;
  padding: 6px;
  margin: 10px 0;
  transition-duration: 0ms;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  #novalp .introducao-e-formulario h2 {
    font-size: 24px;
  }
  #novalp .introducao-e-formulario h3 {
    font-size: 19px;
    line-height: 1.3;
  }
  #novalp .introducao-e-formulario h3 br {
    display: none;
  }
  #novalp .introducao-e-formulario h2 {
    padding: 20px 0;
  }
  #novalp .introducao-e-formulario h3 {
    padding: 20px 0;
  }
  .slick-dots {
    position: absolute;
    top: 24%;
    left: 10px;
    z-index: 10;
    width: 10px;
  }
  .slick-active button, .slick-active2 button,.slick-dots button {
    padding: 4px;
    margin: 4px;
  }
  .think {
    height: 70px;
    position: absolute;
    top: 50px;
    margin: 0;
    padding: 0;
  }
  #novalp .section08 h2 {
    font-family: "Gotham Book";
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: #fff;
  }
  #novalp .introducao-e-formulario, .section01,
  .section02,
  #novalp .linhathink,
  #novalp .bg_video,#novalp .section08,#novalp .section09 {
    height: 85vh !important;
    max-height: -webkit-fill-available !important;
  }
  #novalp .section04 h2 br,
  #novalp .section05 h2 br,
  #novalp .section06 h2 br,
  #novalp .section07 h2 br,
  #novalp .section08 h2 br,
  #novalp .introducao-e-formulario p br {
    display: none;
  }
  #novalp .section02 p,
  #novalp .linhathink p,
  #novalp .section08 p {
    font-size: 17px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  #novalp .introducao-e-formulario,
  #novalp .section02,
  #novalp .linhathink,
  #novalp .section08,
  #novalp .bg_video {
    height: 100vh !important;
  }
  .think {
    position: absolute;
    top: 180px;
    margin: 0;
    padding: 0;
  }
  .slick-dots {
    position: absolute;
    bottom: 90px;
    left: 22px;
    z-index: 10;
  }
  #novalp .introducao-e-formulario .container,
  #novalp .section02 .container,
  #novalp .linhathink .container {
    zoom: 1;
  }
  .introducao-e-formulario p br {
    display: none;
  }
}
@media screen and (max-width: 767px){
  #novalp .section08 h2 {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  #novalp .section08 li {
    padding: 0;
  }
  .section08 img {
    padding-bottom: 5px;
  }
  #novalp .section08 p,#novalp .section08 span {
    font-size: 8px!important;
    line-height: 12px!important;
  }
}
.slick-prev,
.slick-next {
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
